body {
    padding: 10px;
}

h5 {
    text-align: center;
    background-color: #e0e0e0;
    margin-top: 0px;
}

.module {
    background-color: #f0f0f0;
}

.modbod {
    padding-left: 5px;
    padding-right: 5px;
}

pre {
    border: none;
/*    border-radius: 1px 1px 1px 1px; */
    background-color: #f0f0f0;
}

