<b><code>model</code></b> <span class="typename">ModelName</span> <span class="descstr">"Descriptive String"</span>
<br>
<code class="comment">&nbsp;&nbsp;// parameters, connectors and sub-compoennts</code>
<br>
<code>&nbsp;&nbsp;<b>parameter</b> <span class="typename">TypeName</span>   varName <span class="descstr">"Parameter declaration"</span>;</code><br>
<code>&nbsp;&nbsp;<span class="typename">ConnectorType</span>   conName <span class="descstr">"Connector declaration"</span>;</code><br>
<code>&nbsp;&nbsp;<span class="typename">ModelType</span>   subcompName <span class="descstr">"Sub-component declaration"</span>;</code>
<br>
<code>&nbsp;&nbsp;<span class="typename">SomeType</span>
condComp <b>if</b> ... <span class="descstr">"Conditions
component (see {{xref("4.4.5", 38)}})"</span>;</code>
<br>
<code><b>protected</b></code><br>
<code>&nbsp;&nbsp;<span class="typename">TypeName</span>   varName <span class="descstr">"Protected declaration"</span>;</code><br>
<b><code id="initeqs">initial equation</code></b>
<br>
<code><span class="comment">
&nbsp;&nbsp;// Place any equations that apply only at the
<br>
&nbsp;&nbsp;// start of a simulation here</span></code>
<br>
<b><code id="eqs">equation</code></b><br>
<code><span class="comment">
&nbsp;&nbsp;// Equations go here
</span>
</code>
<br>
<code>&nbsp;&nbsp;<b>annotation</b>(...);</code>
<br>
<b><code>end </code></b><span class="typename">ModelName</span><code>;</code>
