<table class="table">
  <tr>
    <th>If Statement ({{ xref("11.2.6", 129) }})
    </th>
  </tr>
  <tr>
    <td>
      <code><b>if</b> cond <b>then</b><br>
	    &nbsp;&nbsp;...<br>
	    <b>elseif</b> cond <b>then</b><br>
	    &nbsp;&nbsp;...<br>
	    <b>else</b><br>
	    &nbsp;&nbsp;...<br>
	    <b>end</b> <b>if</b>
      </code>
    </td>
  </tr>
  <tr><th>If Expression ({{ xref("3.6.5", 18) }})</th></tr>
  <tr>
    <td>
      <code>
	<b>if</b> cond1 <b>then</b> expr1 <b>elseif</b> cond2 <b>then</b> expr2 <b>else</b> expr3;
      </code>
    </td>
  </tr>
</table>
