{% from "macros.html" import kw %}

<table class="table">
  <tr>
    <th>When Statement ({{ xref("11.2.7", 130) }})
    </th>
  </tr>
  <tr>
    <td>
      <code>
	<b>when</b> cond <b>then</b><br>
	&nbsp;&nbsp;...<br>
	<b>elsewhen</b> cond <b>then</b><br>
	&nbsp;&nbsp;...<br>
	<b>end</b> <b>when</b>;
      </code>
    </td>
  </tr>
</table>
<div class="footnote">
  <div class="seminarrow">
    <p><b>Tip:</b> It is easy to get into trouble with algebraic loops
      when using {{kw("when")}} clauses.  To avoid problems, assign
      your conditional expression, <code>cond</code>, to a
      variable, <code>v</code>, and then state your when condition
      as <code><b>when</b> pre(v) <b>then</b></code>.  This is a fancy way
      of saying "when I know that this condition has happened for sure
      (and can't be undone by the equations in this when clause), do
      this...".
    </p>
    <br>
    <p><b>Restrictions</b>:
      <ul>
	<li>Cannot be used in a function</li>
	<li>Cannot be nested</li>
	<li>Cannot occur inside <code><b>while</b></code>, <code><b>if</b></code> or <code><b>for</b></code> clauses.</li>
      </ul>
    </p>    
    <p>
      If the conditional expression for the <code><b>when</b></code> clause
      is a vector, the contents of the <code><b>when</b></code> clause
      become active when <b><i>any</i></b> of the elements in the vector
      become true.
    </p>
  </div>
</div>
