{% from "macros.html" import xref %}

<tt>
<b>function</b> <span class="typename">FunctionName</span> <span class="descstr">"Function description"</span><br>
&nbsp;&nbsp;<b>input</b> Real a;<br>
&nbsp;&nbsp;<b>input</b> Integer b;<br>
&nbsp;&nbsp;<b>output</b> Boolean c;<br>
<b>algorithm</b><br>
&nbsp;&nbsp;<span class="comment">// Whatever value the <b>output</b> variables have after the</span><br>
&nbsp;&nbsp;<span class="comment">// <b>algorithm</b> section is completed or when a <b>return</b> statement</span><br>
&nbsp;&nbsp;<span class="comment">// is encountered will be returned as the output values.</span><br>
<b>end</b> <span class="typename">FunctionName</span>;
</tt>
<div class="footnote">
  <p>
    <i>For more details about functions, see {{ xref("12.2", 134) }}</i>
  </p>
</div>

