<tt><span class="comment">// Extending built-in types</span></tt><br>
<tt><b>type</b> <span class="typename">Pressure</span> = <span class="typename">Real</span>(unit="Pa");</tt><br>
<br>
<tt><span class="comment">// Creating enumerated types</span></tt><br>
<tt><b>type</b> <span class="typename">AssertionLevel</span> = <b>enumeration</b>(warning, error);</tt><br>
<br>
<tt><span class="comment">// Named type for arrays</span></tt><br>
<tt><b>type</b> <span class="typename">Point</span> = <span class="typename">Real</span>[3];</tt>
