{% from "macros.html" import xref %}

<tt>
<b>record</b> <span class="typename">RecordName</span><br>
&nbsp;&nbsp;<span class="typename">Real</span> x;<br>
&nbsp;&nbsp;<span class="typename">Real</span> y;<br>
<b>end</b> <span class="typename">RecordName</span>;<br>
</tt>
<div class="footnote">
  <p>
    <i>Note</i>:
    <tt><b>record</b></tt> <i>definitions cannot contain</i>
    <tt><b>protected</b></tt> <i>sections,</i> <tt><b>equation</b></tt>
    <i>sections or</i> <br><tt><b>algorithm</b></tt> <i>sections</i>.  See
    {{ xref("4.6", 41) }} for additional restrictions.
    </i>
  </p>
</div>
