<table class="table">
  <tr>
    <th colspan="2">For Statement ({{ xref("11.2.2", 127) }})
    </th>
  </tr>
  <tr>
    <td>
      Syntax
    </td>
    <td>
      <code>
	<b>for</b> indices <b>loop</b><br>
	&nbsp;&nbsp;...<br>
	<b>end</b> <b>for</b>;
      </code>
    </td>
  </tr>
  <tr>
    <th colspan="2">Indices</th>
  </tr>
  <tr>
    <td>
      <code><b>for<b> i <b>in</b> 1:10 <b>loop</b>
    </td>
    <td>Looping over a range of integers<br>
    <code>1,2,3,...,10</code></td>
  </tr>

  <tr>
    <td>
      <code><b>for<b> i <b>in</b> 1.0 : 1.5 : 5.5 <b>loop</b>
    </td>
    <td>Looping over reals<br>
      <code>1.0, 2.5, 4.0, 5.5</code></td>
  </tr>

  <tr>
    <td>
      <code><b>for<b> i <b>in</b> {1,3,6,7} <b>loop</b>
    </td>
    <td>Looping over a collection of values<br>
    <code>1, 3, 6, 7</code></td>
  </tr>

  <tr>
    <td>
      <code><b>for<b> i <b>in</b> TwoEnums <b>loop</b>
    </td>
    <td>Looping over enum values<br>
    <code>TwoEnums.one, TwoEnums.two</code><br>
    where <code><b>type</b> TwoEnums = <b>enumeration</b>(one, two)</code></td>
  </tr>
</table>
