{% from "macros.html" import xref %}

<code>
<b>record</b> <span class="typename">RecordName</span><br>
&nbsp;&nbsp;<span class="typename">Real</span> x;<br>
&nbsp;&nbsp;<span class="typename">Real</span> y;<br>
<b>end</b> <span class="typename">RecordName</span>;<br>
</code>
<div class="footnote">
  <p>
    <i>Note</i>:
    <code><b>record</b></code> <i>definitions cannot contain</i>
    <code><b>protected</b></code> <i>sections,</i> <code><b>equation</b></code>
    <i>sections or</i> <br><code><b>algorithm</b></code> <i>sections</i>.  See
    {{ xref("4.6", 41) }} for additional restrictions.
    </i>
  </p>
</div>
