<tt>
  <span class="comment">// Typical Phyical Connector</span><br>
  <b>connector</b> <span class="typename">ConName</span><br>
  &nbsp;&nbsp;<span class="typename">Real</span> acrossVar;<br>
  &nbsp;&nbsp;<b>flow</b> <span class="typename">Real</span> throughVar;<br>
  <b>end</b> <span class="typename">ConName</span>;<br>
  <br>
  <span class="comment">// Causal Connector</span><br>
  <b>connector</b> <span class="typename">ConName</span> = <b>input</b> <span class="typename">Real</span>;<br>
  <br>
  <span class="comment">// Expandable Connector</span><br>
  <b>expandable</b> <b>connector</b> <span class="typename">ConName</span><br>
  &nbsp;&nbsp;<span class="comment">// Minimum connector elements</span><br>
  &nbsp;&nbsp;<b>input</b> <span class="typename">Real</span> alwaysPresent;<br>
  <b>end</b> <span class="typename">ConName</span>;<br>
  <br>
</tt>
<div class="footnote">
  <p>
    <i>Note</i>: A complete list of restrictions for the 
    <tt><b>connector</b></tt> class can be find in {{ xref("4.6", 42)
    }}.  More information about <tt><b>expandable</b></tt> connectors
    can be found in {{ xref("9.1.3", 94) }}.
    </i>
  </p>
</div>
