{% from "macros.html" import xref %}

<!--- MODULE: Information about standard annotations -->
<div id="variability" class="module">
  <h5>Annotations</h5>
  <div class="modbod">
    <tt>choices</tt><br>
    <tt>defaultComponentName</tt><br>
    <tt>defaultComponentPrefixes</tt><br>
    <tt>derivative</tt><br>
    <tt>Dialog</tt><br>
    <tt>Documentation</tt><br>
    <tt>DynamicSelect</tt><br>
    <tt>Evaluate</tt><br>
    <tt>experiment</tt><br>
    <tt>HideResult</tt><br>
    <tt>Inline</tt><br>
    <tt>inverse</tt><br>
    <tt>LateInline</tt><br>
    <tt>missingInnerMessage</tt><br>
    <tt>preferredView</tt><br>
    <tt>smoothOrder</tt><br>
    <tt>version</tt><br>
    <tt>unassignedMessage</tt>
  </div>
</div>
