{% from "macros.html" import xref, tname, spaces %}

<!--- MODULE: Information about standard annotations -->
<div id="variability" class="module">
  <h5 style="padding: 0px 70px">Annotations</h5>
  <div class="modbod">
    <code>choices</code>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="top">
	<table class="table">
	  <tr><th>Explicit values for a variable</th></tr>
	  <tr>
	    <td>
	      <code>
		<b>parameter</b> {{tname("Integer")}} x<br>
		&nbsp;&nbsp;<b>annotation</b>(choices(choice=3 "Desc", choice=5 "Desc"));
	      </code><br>
	    </td>
	  </tr>
	  <tr><th>Explicit redeclarations</th></tr>
	  <tr>
	    <td>
	      <code>
		<b>replaceable</b> model {{tname("Resistor")}} Load(R=2) <b>constrainedby</b> {{tname("TwoPin")}}<br>
		&nbsp;&nbsp;<b>annotation</b>(choices(<br>
		{{spaces(14)}}choice(<b>redeclare</b> {{tname("ThermalResistor")}} Load(R=2,T0=273)),<br>
		{{spaces(14)}}choice(<b>redeclare</b> {{tname("Capacitor")}} Load(C=2e-3))));<br>
	      </code>
	    </td>
	  </tr>
	</table>
      </div>
    </span>

    <br>
    <code>defaultComponentName</code>
    <span class="pull-right">{{ comment }}
      <div class="popover" data-placement="top">
	<p class="seminarrow">
	The <code>defaultComponentName</code> annotation allows a default
	name to be associated with a given definition.  When dragging
	new instances of a given definition into a diagram, the string
	associated with the <code>defaultComponentName</code> should be
	used as the basis for the initial instance name.
	</p>
      </div>
    </span>
    <br>
    <code>defaultComponentPrefixes</code>
    <span class="pull-right">{{ comment }}
      <div class="popover" data-placement="top">
	<p class="seminarrow">
	The <code>defaultComponentPrefixes</code> annotation allows a
	default set of prefixes to be associated with a given
	definition.  When dragging new instances of a given definition
	into a diagram, these prefixes should automatically be applied
	to the new instance.
	</p>
      </div>
    </span>
    <br>
    <code>derivative</code>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="left">
	<table class="table">
	  <tr><th>A normal single argument function</th></tr>
	  <tr>
	    <td>
	      <code>
		<b>function</b> {{tname("f0")}}<br>
		&nbsp;&nbsp;<b>input</b> {{tname("Real")}} x;<br>
		&nbsp;&nbsp;<b>output</b> {{tname("Real")}} y;<br>
		<b>algorithm</b><br>
		&nbsp;&nbsp;...<br>
		&nbsp;&nbsp;<b>annotation</b>(derivative=f1);<br>
		<b>end</b> {{tname("f0")}};
	      </code>
	    </td>
	  </tr>
	  <tr>
	    <th>Definition of the first derivative of {{tname("f0")}}</th>
	  </tr>
	  <tr>
	    <td>
	      <code>
		<b>function</b> {{tname("f1")}}<br>
		&nbsp;&nbsp;<b>input</b> {{tname("Real")}} x;<br>
		&nbsp;&nbsp;<b>input</b> {{tname("Real")}} der_x;<br>
		&nbsp;&nbsp;<b>output</b> {{tname("Real")}} der_y;<br>
		<b>algorithm</b><br>
		&nbsp;&nbsp;...<br>
		<b>end</b> {{tname("f1")}};
	      </code>
	    </td>
	  </tr>
	</table>
	<div class="footnote">
	  The <code>derivative</code> annotation is discussed in great
	  detail in {{ xref("12.7.1", 145) }}.
	</div>
      </div>
    </span>
    <br>
    <code>Dialog</code>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="top">
	<table class="table">
	  <tr><th>Definition</th></tr>
	  <tr>
	    <td>
	      <code>
		<b>record</b> {{tname("Dialog")}}<br>
		&nbsp;&nbsp;<b>parameter</b> {{tname("String")}}  &nbsp;tab = "General";<br>
		&nbsp;&nbsp;<b>parameter</b> {{tname("String")}}  &nbsp;group = "Parameters";<br>
		&nbsp;&nbsp;<b>parameter</b> {{tname("Boolean")}}  enable = <b>true</b>;<br>
		&nbsp;&nbsp;<b>parameter</b> {{tname("Boolean")}}  showStartAttribute = <b>false</b>;<br>
		&nbsp;&nbsp;<b>parameter</b> {{tname("String")}} &nbsp;groupImage = "";<br>
		&nbsp;&nbsp;<b>parameter</b> {{tname("Boolean")}}  connectorSizing = <b>false</b>;<br>
		<b>end</b> {{tname("Dialog")}};
	      </code>
	    </td>
	  </tr>
	</table>
	<div class="footnote">
	  A detailed description of each field in the <code>Dialog</code>
	  annotation can be found in {{ xref("18.7", 225) }}.
	</div>
      </div>
    </span>

    <br>
    <code>Documentation</code>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="left">
	<code>
	  <b>annotation</b>(Documentation(info="&lt;html&gt;...&lt;/html&gt;",<br>
	  {{spaces(25)}}revisions="..."));
	</code>
	<div class="footnote seminarrow">
	  <p>
	    <b>Note:</b> Within the <code>&lt;html&gt;</code> tags, it is
	    possible to use "Modelica URIs" of the form:
	  </p>
	  <ul>
	    <li><code>Modelica://Fully.Qualfied.Name#layer</code>: Where layer
	    can be one of <code>diagram</code>, <code>info</code>, <code>text</code>
	    or <code>icon</code>.</li>
	    <li><code>Modelica://Fully.Qualfied.Name/dir/path/filename</code>:
	    Where <code>dir/path</code> is a directory structure starting
	    at the point where the
	    package <code>Fully.Qualified.Name</code> is stored
	    and <code>filename</code> is a file in that directory.</li>
	  </ul>
	  <p>
	    Complete documentation for the <code>Documentation</code>
	    annotation can be found in {{ xref("18.2", 214) }}.
	  </p>
	</div>
      </div>
    </span>

    <br>
    <code>DynamicSelect</code>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="top"
	   title="Animation of Graphical Annotations">
	<table class="table">
	  <tr><th>Syntax</th></tr>
	  <tr>
	    <td>
	      <code>
		DynamicSelect(val1, val2)
	      </code>
	    </td>
	  </tr>
	  <tr><th>Explanation</th></tr>
	  <tr>
	    <td>
	      <p class="seminarrow">
		The <code>DynamicSelect</code> annotation can be used as a
		value in any graphical annotation.  The first argument
		must be a literal expression (no variables) and the
		second argument can reference variables.  Tools can
		then use the second expression in contexts
		(<i>e.g.,</i> when simulation results are available)
		to adjust the graphical representation according to
		the values of the variables.
	      </p>
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>
    <code>Evaluate</code>
    <span class="pull-right">{{ comment }}
      <div class="popover" data-placement="top">
	<p class="seminarrow">
	  When applied to a <code><b>parameter</b></code>,
	  the <code>Evaluation</code> annotation indicates that the user
	  does not intend to modify the value of the parameter between
	  simulations.  As a result, some potentially significant
	  symbolic optimizations can often be made.
	</p>
	<p>See {{ xref("18.3", 214) }} for more details.</p>
      </div>
    </span>
    <br>
    <code>experiment</code>
    <span class="pull-right">{{ comment }}
      <div class="popover" data-placement="top">
	<table class="table">
	  <tr><th>Definition</th></tr>
	  <tr>
	    <td>
	      <code>
		<b>record</b> {{tname("experiment")}}<br>
		&nbsp;&nbsp;<b>parameter</b> {{tname("Real")}} StartTime;<br>
		&nbsp;&nbsp;<b>parameter</b> {{tname("Real")}} StopTime;<br>
		&nbsp;&nbsp;<b>parameter</b> {{tname("Real")}} Interval;<br>
		&nbsp;&nbsp;<b>parameter</b> {{tname("Real")}} Tolerance;<br>
		<b>end</b> {{tname("experiment")}};
	      </code>
	    </td>
	  </tr>
	</table>
	<div class="footnote">
	  <p>
	    <code>StartTime</code>, <code>StopTime</code>
	    and <code>Interval</code> are all assumed to have units of
	    seconds.
	  </p>
	  <p>See {{ xref("18.4", 215) }} for more details.</p>
	</div>
      </div>
    </span>
    <br>
    <code>GenerateEvents</code>
    <span class="pull-right">{{ comment }}
      <div class="popover" data-placement="top">
	<p class="seminarrow">
	  When the <code>GenerateEvents</code> annotation is associated
	  with a function definition and given a value
	  of <code><b>true</b></code>, this indicates that expressions in
	  the function should generate events (<i>e.g.,</i> as if they
	  appeared in an <code><b>equation</b></code> section).
	</p>
	<p>See {{ xref("18.3", 214) }} for more details.</p>
      </div>
    </span>
    <br>
    <code>HideResult</code>
    <span class="pull-right">{{ comment }}
      <div class="popover" data-placement="top">
	<p class="seminarrow">
	  When applied to a variable declaration,
	  the <code>HideResult</code> annotation indicates that the user
	  does not wish to view this variable among the simulation
	  results.
	</p>
	<p>See {{ xref("18.3", 214) }} for more details.</p>
      </div>
    </span>
    <br>
    <code>Inline</code>
    <span class="pull-right">{{ comment }}
      <div class="popover" data-placement="top">
	<p class="seminarrow">
	  When the <code>Inline</code> annotation is associated with a
	  function definition and given a value
	  of <code><b>true</b></code>, this indicates that the function
	  should be inlined prior to symbolic manipulation.
	</p>
	<p>See {{ xref("18.3", 214) }} for more details.</p>
      </div>
    </span>
    <br>
    <code>inverse</code>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="top">
	<code>
	  <b>function</b> {{tname("f")}}<br>
	  &nbsp;&nbsp;<b>input</b> {{tname("T1")}} u1;<br>
	  &nbsp;&nbsp;<b>input</b> {{tname("T2")}} u2;<br>
	  &nbsp;&nbsp;<b>output</b> {{tname("R")}} y;<br>
	  <b>algorithm</b><br>
	  &nbsp;&nbsp;...<br>
	  &nbsp;&nbsp;<b>annotation</b>(inverse(u1=fi1(u2,y),<br>
	  {{spaces(21)}}u2=fi2(u1, y)));<br>
	  <b>end</b> {{tname("f")}};
	</code>
      </div>
    </span>
    <br>
    <code>LateInline</code>
    <span class="pull-right">{{ comment }}
      <div class="popover" data-placement="top">
	<p class="seminarrow">
	  When the <code>LateInline</code> annotation is associated with a
	  function definition and given a value
	  of <code><b>true</b></code>, this indicates that the function
	  should be inlined during the code generation process, but
	  not before symbolic manipulation has been performed.
	</p>
	<p>See {{ xref("18.3", 214) }} for more details.</p>
      </div>
    </span>
    <br>
    <code>missingInnerMessage</code>
    <span class="pull-right">{{ comment }}
      <div class="popover" data-placement="top">
	<code><b>annotation</b>(missingInnerMessage="...");</code><br>
	<p class="seminarrow">
	  This annotation allows a tool to provide a customized
	  message when an <code><b>outer</b></code> declaration cannot
	  find a matching <code><b>inner</b></code>.  This allows library
	  developers to provide more specific and meaningful
	  diagnostics to users.
	</p>
	<p>See {{ xref("18.7", 224) }} for more details.</p>
      </div>
    </span>
    <br>
    <code>preferredView</code>
    <span class="pull-right">{{ comment }}
      <div class="popover" data-placement="top">
	<p class="seminarrow">
	  In a definition, the <code>preferredView</code> annotation can
	  be given the values <code>"info"</code>, <code>"diagram"</code>
	  or <code>"text"</code> to indicate which particular view makes
	  the most sense as the default view for that definition (see
	  {{ xref("18.2", 214) }}).
	</p>
      </div>
    </span>
    <br>
    <code>smoothOrder</code>
    <span class="pull-right">{{ comment }}
      <div class="popover" data-placement="top">
	<p class="seminarrow">
	  In a function definition, the <code>smoothOrder</code>
	  annotation indicates how many times the function can be
	  differentiated and still have continuous outputs.  See {{
	  xref("18.3", 215) }} for complete details.
	</p>
      </div>
    </span>
    <br>
    <code>unassignedMessage</code>
    <span class="pull-right">{{ comment }}
      <div class="popover" data-placement="top">
	<p class="seminarrow">
	  If the <code>unassignedMessage</code> annotation is associated
	  with a variable, then the value of the annotation (which
	  must be a {{tname("String")}}) will be used as a diagnostic
	  message to the user if the structural analysis of the
	  problem does not yield an equation to compute that variable.
	  See {{ xref("18.7", 224) }} for complete details.
	</p>
      </div>
    </span>
    <br>
    <code>version</code>
    <span class="pull-right">{{ comment }}
      <div class="popover" data-placement="top">
	<p class="seminarrow">
	  Within a top-level package, the <code>version</code> annotation
	  is used to indicate the version number for that package.
	  This is used to distinguish between multiple versions when
	  they are available.  See {{ xref("18.8.2", 228) }} for more
	  details about version handling.
	</p>
      </div>
    </span>
  </div>
</div>
