{% from "macros.html" import xref %}

{% macro attr_headers() %}
<tr>
  <th>Attribute</th>
  <th><span class="pull-right">Type</span></th>
  <th>&nbsp;&nbsp;<span class="pull-right">Default</span></th>
</tr>
{% endmacro %}
{% macro rib_attrs(T) %}
<tr>
  <td><tt>fixed:</tt></td>
  <td><tt><span class="pull-right typename">Boolean</span></tt></td>
  <td><span class="pull-right">&nbsp;<tt>false</tt><sup>*</sup></span></td>
</tr>
{% endmacro %}
{% macro ri_attrs(T) %}
<tr>
  <td><tt>min:</tt></td>
  <td><tt><span class="pull-right typename">{{T}}</span></tt></td>
  <td><span class="pull-right">&nbsp;-infinity</span></td>
</tr>
<tr>
  <td><tt>max:</tt></td>
  <td><tt><span class="pull-right typename">{{T}}</span></tt></td>
  <td><span class="pull-right">&nbsp;-infinity</span></td>
</tr>
{% endmacro %}
{% macro r_attrs(T) %}
<tr>
  <td><tt>unit:</tt></td>
  <td><tt><span class="pull-right typename">String</span></tt></td>
  <td><tt><span class="pull-right">&nbsp;""</span></tt></td>
</tr>
<tr>
  <td><tt>displayUnit:</tt></td>
  <td><tt><span class="pull-right typename">String</span></tt></td>
  <td><tt><span class="pull-right">""</span></tt></td>
</tr>
<tr>
  <td><tt>nominal:</tt></td>
  <td><tt><span class="pull-right typename">{{T}}</span></tt></td>
  <td></td>
</tr>
<tr>
  <td><tt>stateSelect:&nbsp;&nbsp;</tt></td>
  <td><tt><span class="pull-right typename">StateSelect</span></tt></td>
  <td><tt><span class="pull-right">&nbsp;default</span></tt></td>
</tr>
{% endmacro %}
{% macro ribs_attrs(T,start) %}
<tr>
  <td><tt>quantity:&nbsp;&nbsp;</tt></td>
  <td><tt><span class="pull-right typename">String</span></tt></td>
  <td><tt><span class="pull-right">&nbsp;""</span></tt></td>
</tr>
<tr>
  <td><tt>start:</tt></td>
  <td><tt><span class="pull-right typename">{{T}}</span></tt></td>
  <td><tt><span class="pull-right">&nbsp;{{start}}</span></tt></td>
</tr>
{% endmacro %}

<!--- MODULE: Information about built-in types -->
<div class="module type-module">
    <div class="pull-right headbut">
      {{comment}}
      <div class="popover" data-placement="right">
	  For complete details on all the predefined types, see {{
	  xref("4.8",48) }}.
      </div>
    </div>
  <h5>Builtin Types
  </h5>
  <div class="modbod">
    <span>
      <tt class="typename">Real</tt>
      <span class="pull-right">{{ comment }}
	<div class="popover" title="Real Attributes" data-placement="bottom">
	  <table class="table table-striped">
	    {{ attr_headers() }}
	    {{ r_attrs("Real") }}
	    {{ ri_attrs("Real") }}
	    {{ rib_attrs("Real") }}
	    {{ ribs_attrs("Real", "0.0") }}
	  </table>
	</div>
      </span>
    </span><br>
    <span>
      <tt class="typename">Integer</tt>
      <span class="pull-right">{{ comment }}
	<div class="popover" title="Integer Attributes" data-placement="bottom">
	  <table class="table table-striped">
	    {{ attr_headers() }}
	    {{ ri_attrs("Integer") }}
	    {{ rib_attrs("Integer") }}
	    {{ ribs_attrs("Integer", "0") }}
	  </table>
	</div>
      </span>
    </span><br>
    <span>
      <tt class="typename">Boolean</tt>
      <span class="pull-right">{{ comment }}
	<div class="popover" title="Boolean Attributes" data-placement="bottom">
	  <table class="table table-striped">
	    {{ attr_headers() }}
	    {{ rib_attrs("Boolean") }}
	    {{ ribs_attrs("Boolean", "false") }}
	  </table>
	</div>
      </span>
    </span><br>
    <span>
      <tt class="typename">String</tt>
      <span class="pull-right">{{ comment }}
	<div class="popover" title="String Attributes" data-placement="bottom">
	  <table class="table table-striped">
	    {{ attr_headers() }}
	    {{ ribs_attrs("String", "\"\"") }}
	  </table>
	</div>
      </span>
    </span><br>
    <span>
      <tt><b>enumeration</b></tt>
      <span class="pull-right">{{comment}}
	<div class="popover" title="Enumerations" data-placement="right">
	  <table class="table">
	    <tr>
	      <th colspan="2">
		Syntax
	      </th>
	    </tr>
	    <tr>
	      <td colspan="2">
		<tt><b>type</b> <span class="typename">E</span> = <b>enumeration</b>(e1, ..., en);</tt>
	      </td>
	    </tr>
	    <tr>
	      <th>Attributes</th>
	      <th>Conversions</th>
	    </tr>
	    <tr>
	      <td>
		<tt><span class="typename">E</span>.e1</tt>,
		...,
		<tt><span class="typename">E</span>.en</tt>
		<br>
		<tt><span class="typename">E</span>.start=e1</tt>
		<br>
		<tt><span class="typename">E</span>.min=e1</tt>, 
		<br>
		<tt><span class="typename">E</span>.max=en</tt>
	      </td>
	      <td>
		<tt>Integer(<span class="typename">E</span>.e1)=1</tt>
		<br>
		<tt>Integer(<span class="typename">E</span>.en)=n</tt>
		<br>
		<tt>String(<span class="typename">E</span>.e1)="e1"</tt>
	      </td>
	    </tr>
	    <tr>
	      <th colspan="2">Examples</td>
	    </tr>
	    <tr>
	      <td colspan="2">
		<tt><b>type</b> <span class="typename">AssertionLevel</span> = <b>enumeration</b>(warning, error);</tt><br>
		<tt><b>type</b> <span class="typename">StateSelect</span> = <b>enumeration</b>(never, avoid, default, prefer, always);</tt><br>
	      </td>
	    </tr>
	  </table>
	  <div class="footnote">
	    Complete details on enumerations can be found in {{
	    xref("4.8.5",50) }}
	  </div>
	</div>
      </span>
    </span><br>
    <span>
      <tt class="typename">ExternalObject</tt>
    </span>
  </div>
</div>
