{% from "macros.html" import xref %}

<!--- MODULE: Information about built-in operators -->
<div id="variability" class="module">
  <span class="pull-right headbut">
    {{warning}}
    <div class="popover" data-placement="right">
      Default variability is <b>continuous</b>.  So if a variable<br>
      doesn't have a variability qualifier, it is assumed to be<br>
      continuous. See {{ xref("3.8",30) }} for more details.
    </div>
  </span>
  <h5>Builtin Operators</h5>
  <div class="modbod">
    <span><tt><b>connect</b></tt></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="right">
	<tt><b>connect</b>(a, b);</tt>
      </div>
    </span><br>
    <span><tt><b>der</b></tt></span><br>
    <span><tt><b>pre</b></tt></span>
  </div>
</div>

