{% from "macros.html" import xref, tname, kw %}

<div class="module">
    <div class="pull-right headbut">
      {{comment}}
      <div class="popover" data-placement="right">
      More information on how to declare classes can be found
      in {{ xref("4.5", 38) }}.
      </div>
    </div>
  <h5>Class Definitions
  </h5>
  <div class="modbod">
    <span>
      <b><code>extends</code></b> (inheritance)
      <span class="pull-right">{{example}}
	<div class="popover" data-placement="right" title="Canonical Model">
	  {% include "samples/sample_extends.html" %}
	</div>
      </span>
    </span><br>
    <span>
      <b><code>replaceable</code></b>
      <span class="pull-right">{{example}}
	<div class="popover" data-placement="right" title="Canonical Model">
	  <table class="table">
	    <tr>
	      <th>Replaceable Component</th>
	    </tr>
	    <tr>
	      <td>
		<code class="pull-right nobreak">
		  <b>replaceable</b> <span class="typename">D</span> comp;
		</code>
	      </td>
	    </tr>
	    <tr>
	      <th>Replaceable Class</th>
	    </tr>
	    <tr>
	      <td>
		<code class="pull-right nobreak">
		  <b>replaceable</b> <b>model</b>
		  <span class="typename">M</span> =
		  <span class="typename">D</span>
		</code>
	      </td>
	    </tr>
	  </table>
	</div>
      </span>
    </span><br>

    <span>
      <b><code>redeclare</code></b>
      <span class="pull-right">{{ example }}
	<div class="popover" data-placement="right" title="Redeclarations">
	  <div>
	    <p class="seminarrow">
	      The {{kw("redeclare")}} keyword is used to override the
	      value of a {{kw("replaceable")}} component. This is
	      typically done either through inheritance or through
	      modifications applied to components.  To demonstrate,
	      consider the following model:<br>
	      <div class="indented">
		<code>
		  <b>model</b> {{tname("Circuit")}}<br>
		  &nbsp;&nbsp;...<br>
		  &nbsp;&nbsp;<b>replaceable</b> {{tname("Resistor")}} R(R=100.0);<br>
		  &nbsp;&nbsp;...<br>
		  <b>end</b> {{tname("Circuit")}};<br>
		</code>
	      </div>
	    </p>
	  </div>
	  <table class="table">
	    <tr>
	      <th>Redeclaration in {{kw("extends")}} clauses</th>
	    </tr>
	    <tr>
	      <td class="seminarrow">
		When inheriting from a definition, it is possible to
		redeclare {{kw("replaceable")}} components as follows:<br><br>
		<div class="indented">
		  <code>
		    <b>model</b> {{tname("ThermalCircuit")}}<br>
		    &nbsp;&nbsp;<b>extends</b> {{tname("Circuit")}}(<b>redeclare</b>
		    {{tname("ThermalResistor")}} R(R=100.0));<br>
		    <b>end</b> {{tname("ThermalCircuit")}};<br>
		  </code>
		</div>
	      </td>
	    </tr>
	    <tr>
	      <th>Redeclaration in component modifications</th>
	    </tr>
	    <tr>
	      <td class="seminarrow">
		When instantiating a component, it is possible to
		redeclare {{kw("replaceable")}} sub-components as follows:<br><br>
		<div class="indented">
		  <code>
		    <b>model</b> {{tname("UsesCircuit")}}<br>
		    &nbsp;&nbsp;{{tname("Circuit")}} circuit(<b>redeclare</b> {{tname("ThermalResistor")}} R(R=100.0));<br>
		    <b>end</b> {{tname("UsesCircuit")}};<br>
		  </code>
		</div>
	      </td>
	    </tr>
	  </table>
	  <div class="footnote">
	    <p class="seminarrow">
	      More details about modifications and redeclarations can be
	      found in {{ xref("7.2", 70) }} and {{ xref("7.3", 73) }},
	      respectively.
	    </p>
	  </div>
	</div>
      </span>
    </span><br>

    <span>
      <b><code>constrainedby</code></b>
      <span class="pull-right">{{example}}
	<div class="popover" data-placement="right" title="Canonical Model">
	  <table class="table">
	    <tr>
	      <th>Replaceable Component</th>
	    </tr>
	    <tr>
	      <td>
		<code class="pull-right nobreak">
		  <b>replaceable</b> <span class="typename">D</span> comp
		  <b>constrainedby</b> <span class="typename">C</span>;
		</code>
	      </td>
	    </tr>
	    <tr>
	      <th>Replaceable Class</th>
	    </tr>
	    <tr>
	      <td>
		<code class="pull-right nobreak">
		  <b>replaceable</b> <b>model</b>
		  <span class="typename">M</span> = <span class="typename">D</span> <b>constrainedby</b> <span class="typename">C</span>;
		</code>
	      </td>
	    </tr>
	  </table>
	</div>
      </span>
    </span><br>

    <span>
      <b><code>import</code></b>
      <span class="pull-right">{{example}}
	<div class="popover" data-placement="right" title="Imports">
	  <table class="table">
	      <th colspan="2">
		Import a named definition
	      </th>
	    </tr>
	    <tr>
	      <td class="nobreak">
		<code><b>import</b> {{tname("Modelica.SIunits.Velocity")}};</code>
	      </td>
	      <td>
		<p class="seminarrow">
		Adds the definition
		{{tname("Modelica.SIunits.Velocity")}} to the local
		scope under the name {{tname("Velocity")}}.
		</p>
	      </td>
	    </tr>
	    <tr>
	      <th colspan="2">Import definition under an alias</th>
	    </tr>
	    <tr>
	      <td>
		<code><b>import</b>
		{{tname("SI")}}={{tname("Modelica.SIunits")}};</code>
	      </td>
	      <td>
		<p class="seminarrow">
		Adds a given definition to the local scope under an
		alias name (e.g., {{tname("Modelica.SIunits.Velocity")}}
		could be referenced as {{tname("SI.Velocity")}} in
		this case).
		<p>
	      </td>
	    </tr>
	    <tr>
	      <th colspan="2">Import contents of a {{kw("package")}}</th>
	    </tr>
	    <tr>
	      <td>
		<code><b>import</b> {{tname("Modelica.SIunits.*")}};</code>
	      </td>
	      <td>
		<p class="seminarrow">
		Adds all the definitions defined in
		{{tname("Modelica.SIunits")}} to the local scope
		(under their normal names).
		</p>
		<div class="alert alert-error">
		  <p class="seminarrow">
		    Use of the so-called "wildcard import" feature is
		    strongly discouraged.  It makes it unclear which
		    definitions are actually used and can easily
		    result in duplicate conflicting local names.
		  </p>
		</div>
	      </td>
	    </tr>
	  </table>
	  <div class="footnote">
	    <b>Note:</b> Imports always uses fully qualified names.
	    This means the name used must start from the top-level
	    namespace.
	  </div>
	</div>
      </span>
    </span><br>

    <span>
      <b><code>encapsulated</code></b>
      <span class="pull-right">{{comment}}
	<div class="popover" data-placement="top">
	  <p class="seminarrow">
	    The <code><b>encapsulated</b></code> keyword forces all types
	    not belonging to a definition to be imported.  More details
	    can be found in {{ xref("5.3.1", 54) }}.
	  </p>
	</div>
      </span>
    </span><br>

    <span>
      <b><code>final</code></b>
      <span class="pull-right">{{comment}}
	<div class="popover" data-placement="top">
	  <p class="seminarrow">
	    The <code><b>final</b></code> keyword is used to indicate
	    that no more modifications will be permitted to a
	    variable. See {{ xref("7.2.6", 73) }} for more details.
	  </p>
	</div>
      </span>
    </span><br>

    <span>
      <b><code>partial</code></b>
      <span class="pull-right">{{comment}}
	<div class="popover" data-placement="top">
	  <p class="seminarrow">
	    The <code><b>partial</b></code> keyword is used to indicate
	    that a given definition is incomplete.  This makes it
	    clear to both users and the tools that the definition, as
	    it stands, cannot be instantiated.  Normally,
	    a <code><b>partial</b></code> definition is extended from to
	    create a complete (instantiable) definition.  See {{
	    xref("4.7", 43) }} for more details.
	  </p>
	</div>
      </span>
    </span><br>

    <span>
      <b><code>expandable</code></b>
      <span class="pull-right">{{comment}}
	<div class="popover" data-placement="top">
	  <p class="seminarrow">
	    The {{kw("expandable")}} keyword can be applied to
	    a <code><b>connector</b></code> to indicate that additional
	    signals can be added (through connections) beyond those
	    declared explicitly in the <code><b>connector</b></code>
	    definition.  More information about expandable connectors
	    can be found in {{ xref("9.1.3", 94) }}.
	  </p>
	</div>
      </span>
    </span>

  </div>
</div>
