{% from "macros.html" import xref %}

<!--- MODULE: Complex expressions -->
<div class="module">
  <h5>Complex Expression</h5>
  <div class="modbod">
    <span>
      Vector Literal
      <span class="pull-right">{{ example }}
	<div class="popover" data-placement="top">
	  <tt>
	    {..., ....}
	  </tt>
	</div>
      </span>
    </span><br>

    <span>
      Array Literals
      <span class="pull-right">{{ example }}
	<div class="popover" data-placement="top">
	  <tt>
	    [..., ...; ..., ...]
	  </tt>
	</div>
      </span>
    </span><br>

    <span>
      Array Comprehensions
      <span class="pull-right">{{ example }}
	<div class="popover" data-placement="top">
	  <table class="table table-striped">
	    <tr>
	      <td>Once index</td>
	      <td>
		<span class="nobreak">
		  <tt class="pull-right">{ f(i) <b>for</b> i <b>in</b> 1:ni }</tt>
		</span>
	      </td>
	    </tr>
	    <tr>
	      <td>Two indices</td>
	      <td>
		<span class="nobreak">
		  <tt class="pull-right">{ f(i,j) <b>for</b> i <b>in</b> 1:ni, j <b>in</b> 1:nj }</tt>
		</span><br>
		<b>Note:</b> The resulting array will have dimensions <tt>[nj,ni]</tt>.
	      </td>
	    </tr>
	  </table>
	</div>
      </span>
    </span><br>
  </div>
</div>
