<!--- MODULE: Connector qualifiers -->
<div id="con_quals" class="module">
  <h5>Connector Qualifiers&nbsp;{{ warning }}
    <div class="popover" data-placement="right">
      If a variable in a connector lacks any qualifier, the default
      connection behavior is to <b>generate an equality equation</b>
      with its counterpart on all other connectors in the connection
      set.
    </div>
  </h5>
  <div class="modbod">
    <span>
      <b><tt>input</tt></b>
    </span><br>
    <span>
      <b><tt>output</tt></b>
    </span><br>
    <span>
      <b><tt>flow</tt></b>
    </span><br>
    <span>
      <b><tt>stream</tt></b>
    </span><br>
    <span>
      <b><tt>inStream</tt></b>
    </span><br>
    <span>
      <b><tt>actualStream</tt></b>
    </span>
  </div>
</div>
