{% from "macros.html" import xref, kw %}

<!--- MODULE: Information about event related operators -->
<div class="module">
  <span class="pull-right headbut">
    {{ comment }}
    <div class="popover" data-placement="top">
      These event related operators are discussed in {{ xref("3.7.3", 29) }}.
    </div>
  </span>
  <h5>Event Operators</h5>
  <div class="modbod">
    <span>
      <code>pre</code>
    </span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="right">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>
	  <tr>
	    <td><code>pre(y)</code></td>
	    <td class="seminarrow">
	      At an event, the <code>pre</code> operator is used to refer
	      to the value of a variable prior to that event.  There
	      are several caveats related to the use of <code>pre</code>.
	      These can be found in {{ xref("3.7.3", 29) }}.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>
    <span>
      <code>noEvent</code>
    </span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="right">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>
	  <tr>
	    <td><code>noEvent(expr)</code></td>
	    <td class="seminarrow">
	      The <code>noEvent</code> operator suppresses the generation
	      of events by any event generating operators or functions
	      in the expression <code>expr</code>.  Further information
	      about the <code>noEvent</code> operator can be found in {{
	      xref("3.7.3.2", 29) }} and {{ xref("8.5", 88) }}.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>
    <span>
      <code>change</code>
    </span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="right">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>
	  <tr>
	    <td><code>change(v)</code></td>
	    <td class="seminarrow">
	      The expression <code>change(v)</code>
	      because <code><b>true</b></code> only for the instant that
	      the value of the variable <code>v</code> changes
	      (<i>i.e.,</i> <code>v<>pre(v)</code>). See the <code>pre</code>
	      operator and/or {{ xref("3.7.3.1", 30) }} for more
	      details and restrictions.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>
    <span>
      <code>edge</code>
    </span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="right">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>
	  <tr>
	    <td><code>edge(b)</code></td>
	    <td class="seminarrow">
	      The <code>edge</code> operator
	      becomes <code><b>true</b></code> only at the instant
	      when the expression <code>b</code> goes
	      from <code><b>false</b></code>
	      to <code><b>true</b></code> (<i>i.e.,</i> <code>b and
	      not pre(b)</code>). See the <code>pre</code> operator
	      and/or {{ xref("3.7.3.1", 30) }} for more details and
	      restrictions.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>
    <span>
      <code>initial</code>
    </span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="right">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>
	  <tr>
	    <td><code>initial()</code></td>
	    <td class="seminarrow">
	      The <code>initial</code> operator is <code><b>true</b></code>
	      during the initialization phase of the simulation.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>
    <span>
      <code>terminal</code>
    </span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="right">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>
	  <tr>
	    <td><code>terminal()</code></td>
	    <td class="seminarrow">
	      The <code>terminal</code> operator
	      becomes <code><b>true</b></code> at the end of
	      a <b>successful</b> simulation.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>
    <span>
      <code>reinit</code>
    </span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="right">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>
	  <tr>
	    <td><code>reinit(x, expr)</code></td>
	    <td class="seminarrow">
	      The <code>reinit</code> operator sets the value of the
	      variable <code>x</code> to be equal to the of <code>expr</code>.
	      Note, <code>reinit</code> can only be used within a
	      {{kw("when")}} clause.  For more details on the usage
	      and restrictions of <code>reinit</code>, see {{
	      xref("8.3.6", 86) }}.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>
    <span>
      <code>sample</code>
    </span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="right">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>
	  <tr>
	    <td><code>sample(start, interval)</code></td>
	    <td class="seminarrow">
	      The <code>sample</code> operator because true
	      when <code>time>=start</code> and again
	      every <code>interval</code> seconds after that.  Further
	      details can be found in {{ xref("3.7.3", 29) }}.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>
    <span>
      <code>smooth</code>
    </span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="right">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>
	  <tr>
	    <td><code>smooth(p, expr)</code></td>
	    <td class="seminarrow">
	      When evaluated, the <code>smooth</code> operator simply
	      returns the value of the expression <code>expr</code>.  But
	      it also acts as a guarantee that <code>expr</code> is
	      <code>p</code> times continuously differentiable.  For
	      further details, see {{ xref("3.7.3.2", 30) }}.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>
    <span>
      <code>terminate</code>
    </span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="right">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>
	  <tr>
	    <td><code>terminate()</code></td>
	    <td class="seminarrow">
	      The <code>terminate</code> operator instructs the underlying
	      simulation environment to terminate the simulation after
	      the completion of the next integration step or event
	      iteration.  See {{ xref("8.3.8", 87) }} for more
	      details.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>
  </div>
</div>
