{% from "macros.html" import xref %}

<!--- MODULE: Information about event related operators -->
<div class="module">
  <h5>Event  Operators</h5>
  <div class="modbod">
    <span><tt><b>pre</b></tt></span><br>
    <span><tt><b>noEvent</b></tt></span><br>
    <span><tt><b>change</b></tt></span><br>
    <span><tt><b>edge</b></tt></span><br>
    <span><tt><b>initial</b></tt></span><br>
    <span><tt><b>terminal</b></tt></span><br>
    <span><tt><b>reinit</b></tt></span><br>
    <span><tt><b>sample</b></tt></span><br>
    <span><tt><b>smooth</b></tt></span><br>
    <span><tt><b>terminate</b></tt></span><br>
  </div>
</div>
