{% from "macros.html" import xref %}

<!--- MODULE: Information about stuff you find in Modelica expressions -->
<div id="variability" class="module">
  <h5>Expressions</h5>
  <div class="modbod">
    <table class="table table-condensed table-centered">
      <tr>
	<th colspan="8">
	  Arithmetic Operators
	</th>
      </tr>

      <tr>
	<td><tt>*</tt></td>
	<td><tt>+</tt></td>
	<td><tt>-</tt></td>
	<td><tt>/</tt></td>
	<td><tt>.*</tt></td>
	<td><tt>.+</tt></td>
	<td><tt>.-</tt></td>
	<td><tt>./</tt></td>
      </tr>

      <tr>
	<th colspan="8">
	  Relational Operators
	</th>
      </tr>
      <tr>
	<td><tt><b>and</b></tt></td>
	<td><tt><b>or</b></tt></td>
	<td><tt><b>not</b></tt></td>
	<td><tt>&lt;&gt;</tt></td>
	<td><tt>&lt;</tt></td>
	<td><tt>&lt;=</tt></td>
	<td><tt>&gt;</tt></td>
	<td><tt>&gt;=</tt></td>
      </tr>
      <tr>
	<th colspan="8">
	  Mathematical Functions
	</th>
      </tr>
      <tr>
	<td>abs</td>
	<td>acos</td>
	<td>asin</td>
	<td>atan</td>
	<td>atan2</td>
	<td>ceil</td>
	<td>cos</td>
	<td>cosh</td>
      </tr>
      <tr>
	<td>cross</td>
	<td>diagonal</td>
	<td>div</td>
	<td>exp</td>
	<td>fill</td>
	<td>floor</td>
	<td>identity</td>
	<td>Integer</td>
      </tr>
      <tr>
	<td>integer</td>
	<td>linspace</td>
	<td>log</td>
	<td>log10</td>
	<td>matrix</td>
	<td>max</td>
	<td>min</td>
      </tr>
      <tr>
	<td>mod</td>
	<td>ones</td>
	<td>outerProduct</td>
	<td>rem</td>
	<td>scalar</td>
	<td>sign</td>
	<td>sin</td>
	<td>sinh</td>
      </tr>
      <tr>
	<td>skew</td>
	<td>sqrt</td>
	<td>String</td>
	<td>symmetric</td>
	<td>tan</td>
	<td>tanh</td>
	<td>transpose</td>
	<td>vector</td>
      </tr>
      <tr>
	<td>zeros</td>
      </tr>
    </table>
  </div>
</div>
