{% from "macros.html" import xref %}

<!--- MODULE: Lexical conventions -->
<div class="module">
  <span class="pull-right headbut">
    {{ comment }}
    <div class="popover" data-placement="right">
      See {{ xref("2",11) }} for more details.
    </div>
  </span>

  <h5>Lexical Rules</h5>
  <div class="modbod">
    <span>
      Comments
      <span class="pull-right">{{ example }}
	<div class="popover" data-placement="bottom">
	  <table class="table">
	    <tr>
	      <th>
		Single line comments
	      </th>
	    </tr>
	    <tr>
	      <td>
		<code><span class="comment">// until EOL</span></code>
	      </td>
	    </tr>
	    <tr>
	      <th>
		Multi-Line Comment
	      </th>
	    </tr>
	    <tr>
	      <td>
		<code>
		  <span class="comment">
		    /* Can span multiple<br>&nbsp;&nbsp;&nbsp;lines */
		  </span>
		</code>
	      </td>
	    </tr>
	  </table>
	</div>
      </span>
    </span><br>

    <span>
      Identifiers
      <span class="pull-right">{{ example }}
	<div class="popover" data-placement="bottom">
	  <table class="table">
	    <tr>
	      <th>
		Normal Identifier
	      </th>
	      <th>
		Examples
	      </th>
	      <th>
	      </th>
	    </tr>
	    <tr>
	      <td rowspan="3">
		Syntax:<br>
		<code class="pull-right">[A-Za-z_][A-Za-z_0-9]*</code>
	      </td>
	      <td>
		<code>aVariable</code>
	      </td>
	      <td>
		<i class="pull-right">
		  Variable names typically start with lower
		  case letters.
		</i>
	      </td>
	    </tr>
	    <tr>
	      <td>
		<code>another_variable</code>
	      </td>
	      <td>
		<i class="pull-right">
		  Word breaks are sometimes represented with underscores.
		</i>
	      </td>
	    </tr>
	    <tr>
	      <td>
		<code>ClassNames</code>
	      </td>
	      <td>
		<i class="pull-right">
		  By convention, class names start with upper case letter.
		</i>
	      </td>
	    </tr>
	    <tr>
	      <th>Quoted Identifiers</th>
	      <th></th>
	      <th></th>
	    </tr>
	    <tr>
	      <td>
		Syntax:
		<code class="pull-right">'...'</code>
	      </td>
	      <td colspan="2" class="narrow">
		<p>
		  If an identifier is surrounded by single quotes, it can
		  contains spaces, digits and non-digits anywhere in the
		  name.  Furthermore, it can contain any of the following
		  characters:
		</p>
		<code>! # $ % & ( ) * + , - . / : ; < > = ? @ [ ] ^ { } | ~</code>
	      </td>
	    </tr>
	  </table>
	</div>
      </span>
    </span><br>

    <span>
      Numbers
      <span class="pull-right">{{ example }}
	<div class="popover" data-placement="bottom" title="Numbers">
	  <table>
	    <tr><th>Floating Point Numbers</th></tr>
	    <tr><td><code>1, 1.0, 0.5, .7, 2.3e-5, 78.2E+2</code></td></tr>
	    <tr><th>Complications with signed numbers</th></tr>
	    <tr><td class="seminarrow">Examples of expressions which
	    are not allowed in Modelica because of interactions
	    between binary operators and unary operators (see {{
	    xref("3.2", 15) }}):<br>
		<code>2*-2, --2, ++2, 2--2</code>
	      </td>
	    </tr>
	  </table>
	</div>
      </span>
    </span><br>
  </div>
</div>
