<!--- MODULE: An outline of a sample model --->
<div class="module">
  <h5>Model Template</h5>
  <div class="modbod">
    <b><code>model</code></b> <span class="typename">ModelName</span> <span class="descstr">"Descriptive String"</span>
    <br>
    <code>&nbsp;&nbsp;</code><span class="typename">TypeName</span><code>   </code><i>varName</i><code> <span class="descstr">"Declaration syntax"</span>;</code>
    <br>
    <b><code id="initeqs">initial equation</code></b>
    <br>
    <b><code id="initeqs">equation</code></b>
    <br>
    <b><code>end </code></b><span class="typename">ModelName</span><code>;</code>
    <br>
    <hr>
    <ul class="hlist">
      <li id="ex1">{{ example }}: Example 1
	<div class="popover" title="Example 1" data-placement="bottom">
	  <code><b>model</b> <span class="typename">FirstOrder</span> <span class="descstr">"First order response"</span></code><br>
	  <code><b>end</b> <span class="typename">FirstOrder</span>;
	</div>
      </li>
    </ul>
  </div>
</div>
