<!--- MODULE: An outline of a sample model --->
<div class="module">
  <h5>Model Template</h5>
  <div class="modbod">
    <b><tt>model</tt></b> <span class="typename">ModelName</span> <span class="descstr">"Descriptive String"</span>
    <br>
    <tt>&nbsp;&nbsp;</tt><span class="typename">TypeName</span><tt>   </tt><i>varName</i><tt> <span class="descstr">"Declaration syntax"</span>;</tt>
    <br>
    <b><tt id="initeqs">initial equation</tt></b>
    <br>
    <b><tt id="initeqs">equation</tt></b>
    <br>
    <b><tt>end </tt></b><span class="typename">ModelName</span><tt>;</tt>
    <br>
    <hr>
    <ul class="hlist">
      <li id="ex1">{{ example }}: Example 1
	<div class="popover" title="Example 1" data-placement="bottom">
	  <tt><b>model</b> <span class="typename">FirstOrder</span> <span class="descstr">"First order response"</span></tt><br>
	  <tt><b>end</b> <span class="typename">FirstOrder</span>;
	</div>
      </li>
    </ul>
  </div>
</div>
