    <!--- MODULE: An outline of a sample model --->
    <div id="model_template" class="module">
      <h5>Model Template</h5>
      <div class="modbod">
	<b><tt id="rc">model </tt></b><i class="classname">ModelName</i> <i id="descstr">"Descriptive String"</i>
	<br>
	<tt>&nbsp;&nbsp;</tt><i>TypeName</i><tt>   </tt><i>varName</i><tt> "Declaration syntax";</tt>
	<br>
	<b><tt id="initeqs">initial equation</tt></b>
	<br>
	<b><tt id="initeqs">equation</tt></b>
	<br>
	<b><tt>end </tt></b><i class="classname">ModelName</i><tt>;</tt>
	<br>
	<br>
	<ul class="hlist">
	  <li id="ex1">{{ example }}: Example 1
	  </li>
	  <li>{{ example }}: Example 2
	    <div title="Example 2" class="popover">
	      Popover text
	    </div>
	  </li>
	  <div id="ex1_div">
	    <tt>model FirstOrder "First order response"</tt>
	  </div>
	</ul>
      </div>
    </div>
