{% from "macros.html" import xref %}
{% from "macros.html" import f %}
{% from "macros.html" import kw, tname %}

<!--- MODULE: Restricted classes -->
<div class="module">
  <span class="pull-right headbut">{{ comment }}
    <div class="popover">
      <p class="seminarrow">
	Operator overloading is a complex topic and is covered in
	detail in {{ xref("14", 167) }}
      </p>
    </div>
  </span>
  <h5>Operators</h5>
  <div class="modbod">
    <span id="operator record">
      <b><code>operator record</code></b>
    </span>
    <span class="pull-right">{{ example }}
      <div class="popover" title="Records with Overloaded Operators"
	   data-placement="bottom">
	<table class="table">
	  <tr>
	    <th>What's an <code><b>operator record</b></code>?</th>
	  </tr>
	  <tr>
	    <td>
	      <p class="seminarrow">
		An <code><b>operator record</b></code> is like an
		ordinary <code><b>record</b></code> except that it is
		possible to define custom behavior for operators
		like <code>+</code>, <code>-</code>, etc.  For more details,
		see {{ xref("14", 167) }}.
	      </p>
	    </td>
	  </tr>
	  <tr>
	    <th>
	      Canonical Syntax
	    </th>
	  </tr>
	  <tr>
	    <td>
	      <code><b>operator record</b> <code class="typename">Complex</code><br>
		&nbsp;&nbsp;<code class="typename">Real</code> re;<br>
		&nbsp;&nbsp;<code class="typename">Real</code> im;<br>
		&nbsp;&nbsp;...<br>
		<code class="comment">
		  &nbsp;&nbsp;// Definition of <b>operator function</b>s<br>
		  &nbsp;&nbsp;// <b>operator</b>s<br></code>
		<b>end</b> <code class="typename">Complex</code>;
	      </code>
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>
    <span id="operator function">
      <b><code>operator function</code></b>
    </span>
    <span class="pull-right">{{ example }}
      <div class="popover" title="Operator Functions" data-placement="left">
	<table class="table">
	  <tr>
	    <th colspan="2">What's an <code><b>operator function</b></code>?</th>
	  </tr>
	  <tr>
	    <td colspan="2">
	      <p class="seminarrow">
		An <code><b>operator function</b></code> is a function
		that implements an operator for an <code><b>operator
		record</b><code/>.
	      </p>
	    </td>
	  </tr>
	  <tr>
	    <th colspan="2">Possible Operators</th>
	  </tr>
	  <tr>
	    <td>Constructors (see {{ xref("14.2", 168) }}):</td>
	    <td><code>constructor</code>, <code>0</code></td>
	  </tr>
	  <tr>
	    <td>Conversions (see {{ xref("14.3", 169) }}):</td>
	    <td><code>String</code></td>
	  </tr>
	  <tr>
	    <td>Binary Operators (see {{ xref("14.4", 169) }}):</td>
	    <td>
	      {{ f("+") }} , {{ f("-") }}, {{ f("*") }}, {{ f("/") }},
	      {{ f("^") }}, {{ f("==") }}, <br> {{ f("&lt;&gt;") }},
	      {{ f("&gt;") }}, {{ f("&lt;") }}, {{ f("&gt;=") }},
	      {{ f("&lt;=") }}, {{ f("<b>and</b>") }}, {{ f("<b>or</b>") }}
	    </td>
	  </tr>
	  <tr>
	    <td>Unary Operators (see {{ xref("14.5", 170) }}):</td>
	    <td> {{ f("-") }}, {{ f("<b>not</b>") }}</td>
	  </tr>
	  <tr>
	    <th colspan="2">Examples</th>
	  </tr>
	  <tr>
	    <td colspan="2">
	      <code><b>encapsulated operator function</b> '+'<br>
		&nbsp;&nbsp;<b>import</b> <span class="typename">Complex</span>;<br>
		&nbsp;&nbsp;<b>input</b> <span class="typename">Complex</span>
		c1;<br>
		&nbsp;&nbsp;<b>input</b> <span class="typename">Complex</span>
		c2;<br>
		&nbsp;&nbsp;<b>output</b> <span class="typename">Complex</span>
		result;<br>
		<b>algorithm</b><br>
		&nbsp;&nbsp;result
		:= <span class="typename">Complex</span>(c1.re+c2.re,
		c1.im+c2.im);<br>
		&nbsp;&nbsp;<b>annotation</b>(Inline=<b>true</b>);<br>
		<b>end</b> '+';<br>
	    </td>
	  </tr>
	</table>
	<div class="footnote">
	  <b>Note:</b> An <code><b>operator function</b></code> should
	  be encapsulated.
	</div>
      </div>
    </span>
    <br>
    <span id="operator">
      <b><code>operator</code></b>
    </span>
    <span class="pull-right">{{ example }}
      <div class="popover" title="Multiple Operator Implementations"
	   data-placement="left">
	<table class="table">
	  <tr>
	    <th>What's an <code><b>operator</b></code>?</th>
	  </tr>
	  <tr>
	    <td>
	      <p class="seminarrow">
		When an <code><b>operator record</b></code> requires more
		than one implementation of a given operator,
		e.g., <code>'+'</code>, a special type
		of <code><b>package</b></code> called
		an <code><b>operator</b></code> is created with the name
		of the overloaded operator.
		This <code><b>operator</b></code> "package" includes all
		the various implementations of the operator.
	      </p>
	    </td>
	  </tr>
	  <tr>
	    <th>Example</th>
	  </tr>
	  <tr>
	    <td>
	      <code>
		<b>enscapsulated operator</b> '-'<br>
		&nbsp;&nbsp;{{ kw("import") }} {{ tname("Complex")
		}};<br>
		&nbsp;&nbsp;{{ kw("function") }} {{ tname("negate")
		}}<br>
		&nbsp;&nbsp;&nbsp&nbsp;{{ kw("input") }} {{
		tname("Complex") }} c;<br>
		&nbsp;&nbsp;&nbsp&nbsp;{{ kw("output") }} {{
		tname("Complex") }} result;<br>
		&nbsp;&nbsp;{{ kw("algorithm") }}<br>
		&nbsp;&nbsp;&nbsp;&nbsp;result := {{ tname("Complex")
		}}(-c.re, -c.im);<br>
		&nbsp;&nbsp;&nbsp;&nbsp;{{ kw("annotation")
		}}(Inline={{kw("true")}});<br>
		&nbsp;&nbsp;{{kw("end")}} {{tname("negate")}};<br>
		<br>

		&nbsp;&nbsp;{{ kw("function") }} {{ tname("subtract")
		}}<br>
		&nbsp;&nbsp;&nbsp&nbsp;{{ kw("input") }} {{
		tname("Complex") }} c1;<br>
		&nbsp;&nbsp;&nbsp&nbsp;{{ kw("input") }} {{
		tname("Complex") }} c2;<br>
		&nbsp;&nbsp;&nbsp&nbsp;{{ kw("output") }} {{
		tname("Complex") }} result;<br>
		&nbsp;&nbsp;{{ kw("algorithm") }}<br>
		&nbsp;&nbsp;&nbsp;&nbsp;result := {{ tname("Complex")
		}}(c1.re-c2.re, c1.im-c2.im);<br>
		&nbsp;&nbsp;&nbsp;&nbsp;{{ kw("annotation")
		}}(Inline={{kw("true")}});<br>
		&nbsp;&nbsp;{{kw("end")}} {{tname("subtract")}};<br>
		<b>end</b> '-';
	      </code>
	    </td>
	  </tr>
	</table>
	<div class="footnote">
	  <b>Note:</b> An <code><b>operator</b></code> should
	  be encapsulated.
	</div>
      </div>
    </span>
  </div>
</div>
