{% from "macros.html" import xref, tname, kw %}

<div class="module">
  <span class="pull-right headbut">
    {{ comment }}
    <div class="popover" data-placement="top">
      Reduction operators are discussed in {{ xref("10.3.4", 113) }}.
    </div>
  </span>
  <h5>Reduction Operators</h5>
  <div class="modbod">
    <span><code>max</code></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="top">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>

	  <tr>
	    <td>
	      <code class="nobreak">max(A)</code>
	    </td>
	    <td class="seminarrow">
	      When applied to an array, the <code>max</code> function
	      returns the element of the array with the greatest
	      value.  For example,<br>
	      <div class="indented">
		<code>max([1, 5; 7, 3])</code> returns <code>7</code><br>
		<code>max({3, 8, 1})</code> returns <code>8</code>
	      </div>
	    </td>
	  </tr>

	  <tr>
	    <td>
	      <code class="nobreak">max(x, y)</code>
	    </td>
	    <td class="seminarrow">
	      When used with two scalar arguments, <code>max</code>
	      returns the greater of the two arguments.
	    </td>
	  </tr>

	  <tr>
	    <td>
	      <code class="nobreak">
		max(e, for i in u, j in v, ...)&nbsp;&nbsp;
	      </code>
	    </td>
	    <td class="seminarrow">
	      Returns the greatest value among all possible values
	      of <code>e</code> over the range of all possible index
	      combinations.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>
    <span><code>min</code></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="top">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>

	  <tr>
	    <td>
	      <code class="nobreak">min(A)</code>
	    </td>
	    <td class="seminarrow">
	      When applied to an array, the <code>min</code> function
	      returns the element of the array with the least value.
	      For example,<br>
	      <div class="indented">
		<code>min([1, 5; 7, 3])</code> returns <code>1</code><br>
		<code>min({3, 8, 1})</code> returns <code>1</code>
	      </div>
	    </td>
	  </tr>
	  <tr>
	    <td>
	      <code class="nobreak">min(x, y)</code>
	    </td>
	    <td class="seminarrow">
	      When used with two scalar arguments, <code>min</code>
	      returns the lesser of the two arguments.
	    </td>
	  </tr>
	  <tr>
	    <td>
	      <code class="nobreak">
		min(e, for i in u, j in v, ...)&nbsp;&nbsp;
	      </code>
	    </td>
	    <td class="seminarrow">
	      Returns the least value among all possible values
	      of <code>e</code> over the range of all possible index
	      combinations.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>
    <span><code>product</code></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="top">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>
	  <tr>
	    <td>
	      <code class="nobreak">product(A)</code>
	    </td>
	    <td class="seminarrow">
	      When applied to an array, the <code>product</code>
	      function returns the product of all elements in the
	      array.  For example,<br>
	      <div class="indented">
		<code>product([1, 5; 7, 3])</code> returns <code>105</code><br>
		<code>product({3, 8, 1})</code> returns <code>24</code>
	      </div>
	    </td>
	  </tr>
	  <tr>
	    <td>
	      <code class="nobreak">
		product(e, for i in u, j in v, ...)&nbsp;&nbsp;
	      </code>
	    </td>
	    <td class="seminarrow">
	      Returns the product of all values of <code>e</code> over all
	      possible index combinations.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>
    <span><code>sum</code></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="top">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>
	  <tr>
	    <td>
	      <code class="nobreak">sum(A)</code>
	    </td>
	    <td class="seminarrow">
	      When applied to an array, the <code>sum</code>
	      function returns the sum of all elements in the
	      array.  For example,<br>
	      <div class="indented">
		<code>sum([1, 5; 7, 3])</code> returns <code>16</code><br>
		<code>sum({3, 8, 1})</code> returns <code>12</code>
	      </div>
	    </td>
	  </tr>
	  <tr>
	    <td>
	      <code class="nobreak">
		sum(e, for i in u, j in v, ...)
	      </code>
	    </td>
	    <td class="seminarrow">
	      Returns the sum of all values of <code>e</code> over all
	      possible index combinations.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
  </div>
</div>
