{% from "macros.html" import xref, tname, kw %}

<div class="module">
  <span class="pull-right headbut">
    {{ comment }}
    <div class="popover" data-placement="top">
      Reduction operators are discussed in {{ xref("10.3.4", 113) }}.
    </div>
  </span>
  <h5>Reduction Operators</h5>
  <div class="modbod">
    <span><tt>max</tt></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="top">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>

	  <tr>
	    <td>
	      <tt class="nobreak">max(A)</tt>
	    </td>
	    <td class="seminarrow">
	      When applied to an array, the <tt>max</tt> function
	      returns the element of the array with the greatest value.
	    </td>
	  </tr>

	  <tr>
	    <td>
	      <tt class="nobreak">max(x, y)</tt>
	    </td>
	    <td class="seminarrow">
	      When used with two scalar arguments, <tt>max</tt>
	      returns the greater of the two arguments.
	    </td>
	  </tr>

	  <tr>
	    <td>
	      <tt class="nobreak">
		max(e, for i in u, j in v, ...)&nbsp;&nbsp;
	      </tt>
	    </td>
	    <td class="seminarrow">
	      Returns the greatest value among all possible values
	      of <tt>e</tt> over the range of all possible index
	      combinations.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>
    <span><tt>min</tt></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="top">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>

	  <tr>
	    <td>
	      <tt class="nobreak">min(A)</tt>
	    </td>
	    <td class="seminarrow">
	      When applied to an array, the <tt>min</tt> function
	      returns the element of the array with the least value.
	    </td>
	  </tr>
	  <tr>
	    <td>
	      <tt class="nobreak">min(x, y)</tt>
	    </td>
	    <td class="seminarrow">
	      When used with two scalar arguments, <tt>min</tt>
	      returns the lesser of the two arguments.
	    </td>
	  </tr>
	  <tr>
	    <td>
	      <tt class="nobreak">
		min(e, for i in u, j in v, ...)&nbsp;&nbsp;
	      </tt>
	    </td>
	    <td class="seminarrow">
	      Returns the least value among all possible values
	      of <tt>e</tt> over the range of all possible index
	      combinations.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>
    <span><tt>product</tt></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="top">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>
	  <tr>
	    <td>
	      <tt class="nobreak">
		product(e, for i in u, j in v, ...)&nbsp;&nbsp;
	      </tt>
	    </td>
	    <td class="seminarrow">
	      Returns the product of all values of <tt>e</tt> over all
	      possible index combinations.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>
    <span><tt>sum</tt></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="top">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>
	  <tr>
	    <td>
	      <tt class="nobreak">
		sum(e, for i in u, j in v, ...)
	      </tt>
	    </td>
	    <td class="seminarrow">
	      Returns the sum of all values of <tt>e</tt> over all
	      possible index combinations.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
  </div>
</div>
