<!--- MODULE: Restricted classes -->
<div id="classes" class="module">
  <h5>Restricted Classes</h5>
  <div class="modbod">
    <span id="model">
      <b><tt>model</tt></b>
    </span><br>
    <span id="record">
      <b><tt>record</tt></b>
    </span><br>
    <span id="connector">
      <b><tt>connector</tt></b>
    </span><br>
    <span id="block">
      <b><tt>block</tt></b>
    </span><br>
    <span id="type">
      <b><tt>type</tt></b>
    </span><br>
    <span id="package">
      <b><tt>package</tt></b>
    </span><br>
  </div>
</div>
