{% from "macros.html" import xref %}

<!--- MODULE: Restricted classes -->
<div class="module">
  <span class="pull-right headbut">
    {{ comment }}
    <div class="popover">
      More information on the various kinds of classes can be found
      in {{ xref("4.6", 41) }}.
    </div>
  </span>
  <h5>Specialized Classes</h5>
  <div class="modbod">
    <span>
      <b><code>model</code></b>
      <span class="pull-right">{{example}}
	<div class="popover" data-placement="right" title="Canonical Model">
	  {% include "samples/sample_model.html" %}
	</div>
      </span>
    </span><br>
    <span id="record">
      <b><code>record</code></b>
      <span class="pull-right">{{example}}
	<div class="popover" data-placement="right" title="Sample Record">
	  {% include "samples/sample_records.html" %}
	</div>
      </span>
    </span><br>
    <span id="connector">
      <b><code>connector</code></b>
      <span class="pull-right">{{ example }}
	<div class="popover" data-placement="right" title="Connector Examples">
	  {% include "samples/sample_connector.html" %}
	</div>
      </span>
    </span><br>
    <span id="block">
      <b><code>block</code></b>
      <span class="pull-right">{{example}}
	<div class="popover" data-placement="right" title="Canonical Block">
	  {% include "samples/sample_block.html" %}
	</div>
      </span>
    </span><br>
    <span id="type">
      <b><code>type</code></b>
      <span class="pull-right">{{example}}
	<div class="popover" data-placement="right" title="Type Examples">
	  {% include "samples/sample_types.html" %}
	</div>
      </span>
    </span><br>
    <span id="package">
      <b><code>package</code></b>
      <span class="pull-right">{{example}}
	<div class="popover" data-placement="right" title="Canonical Package">
	  {% include "samples/sample_package.html" %}
	</div>
      </span>
    </span><br>
    <span id="function">
      <b><code>function</code></b>
      <span class="pull-right">{{example}}
	<div class="popover" data-placement="right" title="Canonical Function">
	  {% include "samples/sample_function.html" %}
	</div>
      </span>
    </span><br>
  </div>
</div>
