{% from "macros.html" import xref, tname, kw %}

<!--- MODULE: Information about built-in operators -->
<div class="module">
{#
  <span class="pull-right headbut">
    {{warning}}
    <div class="popover" data-placement="right">
    </div>
  </span>
#}
  <h5>Special Operators&nbsp;&nbsp;&nbsp;&nbsp;</h5>
  <div class="modbod">
    <span><tt>connect</tt></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="right">
	<tt>connect(a, b);</tt> (see {{ xref("9.1", 93) }})
      </div>
    </span><br>
    <span><tt>der</tt></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="right">
	<tt>der(x)</tt> - Take the derivative of a variables
	or <b>expression</b> (see {{ xref("3.7.2", 22) }} )
      </div>
    </span>
    <br>
    <span>
      <tt>inStream</tt>
    </span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="bottom">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>

	  <tr>
	    <td>
	      <tt>inStream(v)</tt>
	    </td>
	    <td class="seminarrow">
	      <tt>v</tt> must be a stream variable (<i>i.e.,</i> be
	      preceded by the <tt><b>stream</b></tt> qualifier on a
	      connector).  This operator provides the value of the
	      stream variable close to the connection point assuming
	      inward flow.  For more details, see {{ xref("15.2", 176)
	      }}.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>
    <span>
      <tt>actualStream</tt>
    </span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="bottom">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>

	  <tr>
	    <td>
	      <tt>actualStream(v)</tt>
	    </td>
	    <td class="seminarrow">
	      Returns the actual value of the stream
	      variable <tt>v</tt> for any flow direction.  For more
	      details, see {{ xref("15.3", 179) }}.
	    </td>
	  </tr>
	</table>
      </div>
    </span>

    <span><tt>semiLinear</tt></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="bottom">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>

	  <tr>
	    <td>
	      <tt>semiLinear(x, postivieSlope, negativeSlope)</tt>
	    </td>
	    <td class="seminarrow">
	      Equivalent to:
	      <tt class="nobreak"><b>if</b> x&gt;=0 <b>then</b>
	      positiveSlope*x <b>else</b> negativeSlope*x;</tt><br>
	      See {{ xref("3.7.2", 23) }} for more details.
	    </td>
	  </tr>
	</table>
      </div>
    </span>

    <br>
    <span>
      <tt><span class="toowide">spatialDistribution</span></tt>
    </span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="bottom">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>

	  <tr>
	    <td>
	      <tt>spatialDistribution(...)</tt>
	    </td>
	    <td class="seminarrow">
	      See {{ xref("3.7.2.2", 23) }}
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>

    <span>
      <tt>getInstanceName</tt>
    </span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="bottom">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>

	  <tr>
	    <td>
	      <tt>getInstanceName()</tt>
	    </td>
	    <td class="seminarrow">
	      Returns a string with model/block and instance names
	      from which it is called.  See {{ xref("3.7.2.6", 28) }}
	      for further details.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>

    <span><tt>homotopy</tt></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="bottom">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>

	  <tr>
	    <td>
	      <tt>homotopy(actual=...,simplified=...)</tt>
	    </td>
	    <td class="seminarrow">
	      The <tt>homotopy</tt> operator can be used to ease the
	      solving of non-linear systems.  Further discussion of
	      its use can be found in {{ xref("3.7.2", 22) }}.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>

    <span><tt>delay</tt></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="top">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>
	  <tr>
	    <td><tt>delay(expr, delayTime)</tt><br>
	      <tt class="nobreak">delay(expr, delayTime, delayMax)&nbsp;</tt>
	    </td>
	    <td class="seminarrow">
	      Give the value of <tt>expr</tt> delayed by (the
	      potentially variable) <tt>delayTime</tt>.  See {{
	      xref("3.7.2", 22) }} and {{ xref("3.7.2.1", 23) }} for
	      more details.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>

    <span><tt>assert</tt></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="top">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>

	  <tr>
	    <td>
	      <tt class="nobreak"><tt>assert(cond, message, level={{tname("AssertionLevel")}}.error)</tt>
	    </td>
	    <td class="seminarrow">
	      Assertions are used to enforce limitations in a model
	      through the conditional expression, <tt>cond</tt>.
	      Normally, the <tt>level</tt> argument defaults to
	      <tt>{{tname("AssertionLevel")}}.error</tt>.  However, if
	      a {{kw("false")}} value for <tt>cond</tt> isn't strictly
	      an error, the <tt>level</tt> argument can be set to
	      <tt>{{tname("AssertionLevel")}}.warning</tt>.  See {{
	      xref("8.3.7", 87) }} for more details
	      about <tt>assert</tt>.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>

    <span><tt>ndims</tt></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="right">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>

	  <tr>
	    <td>
	      <tt class="nobreak"><tt>ndims(A)</tt>
	    </td>
	    <td class="seminarrow">
	      Returns the number of dimensions of <tt>A</tt>.  See {{
	      xref("10.3.1", 112) }} for more details.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>

    <span><tt>size</tt></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="right">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>

	  <tr>
	    <td>
	      <tt class="nobreak"><tt>size(A,i)</tt>
	    </td>
	    <td class="seminarrow">
	      Returns the size of dimension <t>i</t> in <tt>A</tt>
	      where 0 &lt; <tt>i</tt> &lt;= <tt>ndims(A)</tt>.
	    </td>
	  </tr>

	  <tr>
	    <td>
	      <tt class="nobreak"><tt>size(A)</tt>
	    </td>
	    <td class="seminarrow">
	      Returns a vector containing the size of each dimension
	      of <tt>A</tt>.
	    </td>
	  </tr>
	</table>
	<div class="footnote">
	  See {{ xref("10.3.1", 112) }} for more discussion about
	  the <tt>size</tt> function.
	</div>
      </div>
    </span>
    <br>

    <span><tt>cardinality</tt></span>
    <span class="pull-right">{{ warning }}
      <div class="popover" data-placement="right">
	This operator is <b>deprecated</b>.  It should no longer be
	used (see {{ xref("3.7.2", 22) }}).
      </div>
    </span>
    <br>

    <span><tt>isPresent</tt></span>
    <span class="pull-right">{{ warning }}
      <div class="popover" data-placement="right">
	This operator was <b>removed</b> from the language as of
	version 3.0.
      </div>
    </span>

  </div>
</div>

