{% from "macros.html" import xref, tname, kw %}

<!--- MODULE: Information about built-in operators -->
<div class="module">
  <h5 style="padding: 0px 30px">Special Operators</h5>
  <div class="modbod">
    <span><code>connect</code></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="right">
	<code>connect(a, b);</code> (see {{ xref("9.1", 93) }})
      </div>
    </span><br>
    <span><code>der</code></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="right">
	<code>der(x)</code> - Take the derivative of a variables
	or <b>expression</b> (see {{ xref("3.7.2", 22) }} )
      </div>
    </span>
    <br>
    <span>
      <code>inStream</code>
    </span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="bottom">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>

	  <tr>
	    <td>
	      <code>inStream(v)</code>
	    </td>
	    <td class="seminarrow">
	      <code>v</code> must be a stream variable (<i>i.e.,</i> be
	      preceded by the <code><b>stream</b></code> qualifier on a
	      connector).  This operator provides the value of the
	      stream variable close to the connection point assuming
	      inward flow.  For more details, see {{ xref("15.2", 176)
	      }}.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>
    <span>
      <code>actualStream</code>
    </span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="bottom">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>

	  <tr>
	    <td>
	      <code>actualStream(v)</code>
	    </td>
	    <td class="seminarrow">
	      Returns the actual value of the stream
	      variable <code>v</code> for any flow direction.  For more
	      details, see {{ xref("15.3", 179) }}.
	    </td>
	  </tr>
	</table>
      </div>
    </span>

    <span><code>semiLinear</code></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="bottom">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>

	  <tr>
	    <td>
	      <code>semiLinear(x, postivieSlope, negativeSlope)</code>
	    </td>
	    <td class="seminarrow">
	      Equivalent to:
	      <code class="nobreak"><b>if</b> x&gt;=0 <b>then</b>
	      positiveSlope*x <b>else</b> negativeSlope*x;</code><br>
	      See {{ xref("3.7.2", 23) }} for more details.
	    </td>
	  </tr>
	</table>
      </div>
    </span>

    <br>
    <span>
      <code><span class="toowide">spatialDistribution</span></code>
    </span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="bottom">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>

	  <tr>
	    <td>
	      <code>spatialDistribution(...)</code>
	    </td>
	    <td class="seminarrow">
	      See {{ xref("3.7.2.2", 23) }}
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>

    <span>
      <code>getInstanceName</code>
    </span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="bottom">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>

	  <tr>
	    <td>
	      <code>getInstanceName()</code>
	    </td>
	    <td class="seminarrow">
	      Returns a string with model/block and instance names
	      from which it is called.  See {{ xref("3.7.2.6", 28) }}
	      for further details.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>

    <span><code>homotopy</code></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="bottom">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>

	  <tr>
	    <td>
	      <code>homotopy(actual=...,simplified=...)</code>
	    </td>
	    <td class="seminarrow">
	      The <code>homotopy</code> operator can be used to ease the
	      solving of non-linear systems.  Further discussion of
	      its use can be found in {{ xref("3.7.2", 22) }}.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>

    <span><code>delay</code></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="top">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>
	  <tr>
	    <td><code>delay(expr, delayTime)</code><br>
	      <code class="nobreak">delay(expr, delayTime, delayMax)&nbsp;</code>
	    </td>
	    <td class="seminarrow">
	      Give the value of <code>expr</code> delayed by (the
	      potentially variable) <code>delayTime</code>.  See {{
	      xref("3.7.2", 22) }} and {{ xref("3.7.2.1", 23) }} for
	      more details.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>

    <span><code>assert</code></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="top">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>

	  <tr>
	    <td>
	      <code class="nobreak"><code>assert(cond, message, level={{tname("AssertionLevel")}}.error)</code>
	    </td>
	    <td class="seminarrow">
	      Assertions are used to enforce limitations in a model
	      through the conditional expression, <code>cond</code>.
	      Normally, the <code>level</code> argument defaults to
	      <code>{{tname("AssertionLevel")}}.error</code>.  However, if
	      a {{kw("false")}} value for <code>cond</code> isn't strictly
	      an error, the <code>level</code> argument can be set to
	      <code>{{tname("AssertionLevel")}}.warning</code>.  See {{
	      xref("8.3.7", 87) }} for more details
	      about <code>assert</code>.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>

    <span><code>ndims</code></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="top">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>

	  <tr>
	    <td>
	      <code class="nobreak"><code>ndims(A)</code>
	    </td>
	    <td class="seminarrow">
	      Returns the number of dimensions of <code>A</code>.  See {{
	      xref("10.3.1", 112) }} for more details.
	    </td>
	  </tr>
	</table>
      </div>
    </span>
    <br>

    <span><code>size</code></span>
    <span class="pull-right">{{ example }}
      <div class="popover" data-placement="top">
	<table>
	  <tr>
	    <th>Usage</th>
	    <th>Description</th>
	  </tr>

	  <tr>
	    <td>
	      <code class="nobreak"><code>size(A,i)</code>
	    </td>
	    <td class="seminarrow">
	      Returns the size of dimension <t>i</t> in <code>A</code>
	      where 0 &lt; <code>i</code> &lt;= <code>ndims(A)</code>.
	    </td>
	  </tr>

	  <tr>
	    <td>
	      <code class="nobreak"><code>size(A)</code>
	    </td>
	    <td class="seminarrow">
	      Returns a vector containing the size of each dimension
	      of <code>A</code>.
	    </td>
	  </tr>
	</table>
	<div class="footnote">
	  See {{ xref("10.3.1", 112) }} for more discussion about
	  the <code>size</code> function.
	</div>
      </div>
    </span>
    <br>

    <span><code>cardinality</code></span>
    <span class="pull-right">{{ warning }}
      <div class="popover" data-placement="top">
	This operator is <b>deprecated</b>.  It should no longer be
	used (see {{ xref("3.7.2", 22) }}).
      </div>
    </span>
    <br>

    <span><code>isPresent</code></span>
    <span class="pull-right">{{ warning }}
      <div class="popover" data-placement="top">
	This operator was <b>removed</b> from the language as of
	version 3.0.
      </div>
    </span>

  </div>
</div>

