{% from "macros.html" import xref %}

<!--- MODULE: Different statement types -->
<div class="module">
  <h5>Statements</h5>
  <div class="modbod">
    <span>
      <b><code>if</code></b>
      <span class="pull-right">{{ example }}
	<div class="popover" data-placement="bottom">
	  {% include "samples/sample_if.html" %}
	</div>
      </span>
    </span><br>

    <span>
      <b><code>when</code></b>
      <span class="pull-right">{{ example }}
	<div class="popover" data-placement="bottom">
	  {% include "samples/sample_when.html" %}
	</div>
      </span>
    </span><br>

    <span>
      <b><code>while</code></b>
      <span class="pull-right">{{ example }}
	<div class="popover" data-placement="bottom">
	  {% include "samples/sample_while.html" %}
	</div>
      </span>
    </span><br>

    <span>
      <b><code>for</code></b>
      <span class="pull-right">{{ example }}
	<div class="popover" data-placement="bottom">
	  {% include "samples/sample_for.html" %}
	</div>
      </span>
    </span><br>
  </div>
</div>
