{% from "macros.html" import xref %}

<!--- MODULE: Standard Enums --->
<div id="std_enums" class="module">
  <h5 class="nobreak">Standard Enumerations</h5>
  <div class="modbod">
    <span>
      <tt class="typename">AssertionLevel</tt>
      <span class="pull-right">{{ comment }}
	<div class="popover" data-placement="left">
	  <tt><span class="comment">// From {{ xref("8.3.7",86) }}</span></tt><br>
	  <tt><b>type</b> <span class="typename">AssertionLevel</span> = <b>enumeration</b>(warning, error);</tt><br>
	</div>
      </span>
    </span><br>
    <span>
      <tt class="typename">StateSelect</tt>
      <span class="pull-right">{{ comment }}
	<div class="popover" data-placement="left">
	  <tt><span class="comment">// From {{ xref("4.8.8.1",52) }}</span></tt><br>
	  <tt><b>type</b> <span class="typename">StateSelect</span> = <b>enumeration</b>(never, avoid, default, prefer, always);</tt><br>
	</div>
      </span>
    </span><br>
  </div>
</div>
