{% from "macros.html" import xref %}

<!-- MODULE: Syntax guide -->
<div id="syntax" class="module">
  <h5>Syntax Guide</h5>
  <table class="table table-striped">
    <tr>
      <td>Single Line Comment:</td>
      <td>
	&nbsp;&nbsp;
      </td>
      <td>
	<span class="pull-right">
	  <tt><span class="comment">// until EOL</span></tt>
	</span>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td colspan="2">Multi-Line Comment:</td>
      <td>
	<span class="pull-right">
	  <tt>
	    <span class="comment">
	      /* Can span multiple<br>&nbsp;&nbsp;&nbsp;lines */
	    </span>
	  </tt>
	</span>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td colspan="2">Normal Identifier:</td>
      <td><tt class="pull-right">[A-Za-z_][A-Za-z_0-9]*</tt></td>
      <td>
	<span>{{ example }}
	  <div class="popover" title="Sample Identifiers"
	       data-placement="bottom">
	    <table class="table table-striped">
	      <tr>
		<td><tt>aVariable</tt></td>
		<td>
		  <i>(variable names typically start with lower
		    case letters)
		  </i>
		</td>
	      </tr>
	      <tr>
		<td><tt>another_variable</tt></td>
		<td>
		  <i>
		    (underscores are allowed <b>except at the start</b>)
		  </i>
		</td>
	      </tr>
	      <tr>
		<td><tt>ClassName</tt></td>
		<td>
		  <i>
		    (class names typically start with upper
		    case letters)
		  </i>
		</td>
	      </tr>
	    </table>
	  </div>
	</span>
      </td>
    </tr>

    <tr>
      <td colspan="2">Quoted Identifier:</td>
      <td><tt class="pull-right">'...'</tt></td>
      <td>{{comment}}
	<div class="popover" data-placement="bottom">
	  <p>
	    If an identifier is surrounded by single quotes, it can
	    contains spaces, digits and non-digits anywhere in the
	    name.  Furthermore, it can contain any of the following
	    characters:
	  </p>
	  <tt>! # $ % & ( ) * + , - . / : ; < > = ? @ [ ] ^ { } | ~</tt>
	</div>
      </td>
    </tr>

    <tr>
      <td colspan="2">Enumerations:</td>
      <td><tt class="pull-right"><b>type</b> <span class="typename">E</span> = <b>enumeration</b>(e1, ..., en);</tt></td>
      <td>
	<span>{{ comment }}
	  <div class="popover" data-placement="bottom">
	    <table class="table table-striped">
	      <tr>
		<td>Attributes</td>
		<td>Conversions</td>
	      </tr>
	      <tr>
		<td>
		  <tt><span class="typename">E</span>.e1</tt>,
		  ...,
		  <tt><span class="typename">E</span>.en</tt>
		  <br>
		  <tt><span class="typename">E</span>.start=e1</tt>
		  <br>
		  <tt><span class="typename">E</span>.min=e1</tt>, 
		  <br>
		  <tt><span class="typename">E</span>.max=en</tt>
		</td>
		<td>
		  <tt>Integer(<span class="typename">E</span>.e1)=1</tt>
		  <br>
		  <tt>Integer(<span class="typename">E</span>.en)=n</tt>
		  <br>
		  <tt>String(<span class="typename">E</span>.e1)="e1"</tt>
		</td>
	      </tr>
	      <tr>
		<td colspan="2">Examples</td>
	      </tr>
	      <tr>
		<td colspan="2">
		  <tt><b>type</b> <span class="typename">AssertionLevel</span> = <b>enumeration</b>(warning, error);</tt><br>
		  <tt><b>type</b> <span class="typename">StateSelect</span> = <b>enumeration</b>(never, avoid, default, prefer, always);</tt><br>
		</td>
	      </tr>
	    </table>
	    <div class="footnote">
	      Complete details on enumerations can be found in {{
	      xref("4.8.5",50) }}
	    </div>
	  </div>
	</span>
      </td>
    </tr>

    <tr>
      <td>Inheritance</td>
      <td colspan="2">
	<tt class="pull-right nobreak"><b>extends</b> <span class="typename">BaseClass</span>(<span class="comment">/* modifications */</span>);</tt>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="nobreak">Replaceable Component:</td>
      <td>
	<tt class="pull-right nobreak">
	  <b>replaceable</b> <span class="typename">D</span> comp
	  <b>constrainedby</b> <span class="typename">C</span>;
	</tt>
      </td>
      <td></td>
    </tr>

    <tr>
      <td>Replaceable Type:</td>
      <td colspan="2">
	<tt class="pull-right nobreak">
	  <b>replaceable</b> <b>model</b>
	  <span class="typename">M</span> = <span class="typename">D</span> <b>constrainedby</b> <span class="typename">C</span>;
	</tt>
      </td>
      <td></td>
    </tr>

    <tr>
      <td colspan="2">Relations:</td>
      <td>
	<tt class="pull-right">
	  <b>not</b> <b>and</b> <b>or</b> &gt; &gt;= &lt; &lt;=
	</tt>
      </td>
      <td></td>
    </tr>

    <tr>
      <td colspan="2">Connect Statement:</td>
      <td>
	<tt class="pull-right">
	  <b>connect</b>(a, b);
	</tt>
      </td>
      <td>
      </td>
    </tr>
  </table>
</div>
