<!--- MODULE: Information about variability qualifiers -->
<div id="variability" class="module">
  <h5>Variability&nbsp;{{warning}}
    <div class="popover" data-placement="right">
      Default variability is <b>continuous</b>.  So if a variable doesn't have a variability qualifier, it is assumed to be continuous.
    </div>
  </h5>
  <div class="modbod">
    <span>
      <b><tt>constant</tt></b>
      <span class="pull-right">{{ comment }}
	<div class="popover" data-placement="right">
	  The <b><tt>constant</tt></b> qualifier is used for variables whose
	  value will be the same across all potential simulations.
	</div>
      </span>
    </span><br>
    <span>
      <b><tt>parameter</tt></b>
      <span class="pull-right">{{ comment }}
	<div class="popover" data-placement="right">
	  The <b><tt>parameter</tt></b> qualifier is used for variables whose
	  value may change from one simulation to another but won't
	  change during a given simulation.
	</div>
      </span>
    </span><br>
    <span>
      <b><tt>discrete</tt></b>
      <span class="pull-right">{{ comment }}
	<div class="popover" data-placement="right">
	  The <b><tt>discrete</tt></b> qualifier is used for variables whose
	  value changes during a simulation but only in response to
	  discrete events.
	</div>
      </span>
    </span><br>
  </div>
</div>
