{% from "macros.html" import xref %}

<!--- MODULE: Information about variability qualifiers -->
<div id="variability" class="module">
  <span class="pull-right headbut">
    {{warning}}
    <div class="popover" data-placement="right">
      <p class="seminarrow">
	Default variability is <b>continuous</b>.  So if a variable<br>
	doesn't have a variability qualifier, it is assumed to be<br>
	continuous. See {{ xref("3.8",30) }} for more details.
      </p>
    </div>
  </span>
  <h5>Variability</h5>
  <div class="modbod">
    <span>
      <b><tt>constant</tt></b>
      <span class="pull-right">{{ comment }}
	<div class="popover" data-placement="right">
	  <p class="seminarrow">
	    The <b><tt>constant</tt></b> qualifier is used for variables
	    whose value will be the same across all potential
	    simulations. ({{ xref("3.8.1",31) }})
	  </p>
	</div>
      </span>
    </span><br>
    <span>
      <b><tt>parameter</tt></b>
      <span class="pull-right">{{ comment }}
	<div class="popover" data-placement="right">
	  <p class="seminarrow">
	    The <b><tt>parameter</tt></b> qualifier is used for variables whose
	    value may change from one simulation to another but won't
	    change during a given simulation.  ({{ xref("3.8.2",31) }})
	  </p>
	</div>
      </span>
    </span><br>
    <span>
      <b><tt>discrete</tt></b>
      <span class="pull-right">{{ comment }}
	<div class="popover" data-placement="right">
	  <p class="seminarrow">
	    The <b><tt>discrete</tt></b> qualifier is used for variables whose
	    value changes during a simulation but only in response to
	    discrete events. ({{ xref("3.8.3",31) }})
	  </p>
	</div>
      </span>
    </span><br>
  </div>
</div>
