<div id="acks" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Acknowledgments</h3>
  </div>
  <div class="modal-body">
    <p>
      This page was created
      by <a href="https://plus.google.com/u/0/106797365970607309985?rel=author">
	Michael Tiller
      </a>.
    </p>
    <p>
      The inspiration for this web reference application came from
      Derek Cheng
      at <a href="http://www.cydesign.com/">CyDesign</a>.
    <p>
    <p>
      Although a separate effort, this reference material
      benefited from ideas and content in
      the <code>ModelicaReference</code> package.  We gratefully
      acknowledge the efforts of its authors: Modelica
      Association, DLR, Telemark University College and Maplesoft.
    </p>
    <p>
      Both the style and functionality of this web reference page
      is enabled
      by <a href="http://twitter.github.com/bootstrap">Bootstrap</a>
      and <a href="http://glyphicons.com/">Glyphicons</a>.
    </p>
    <div>
      <p>
	This project benefited greatly from the feedback of the
	following individuals:
	<ul class="hlist">
	  <li>Dietmar Winkler</li>
	  <li>Derek Cheng</li>
	  <li>Leo Gall</li>
	  <li>Michael Sasena</li>
	</ul>
	<ul class="hlist">
	  <li>Stefan Wischhusen</li>
	  <li>Kevin Davies</li>
	  <li>Dag Br&uuml;ck</li>
	</ul>
      </p>
    </div>
  </div>
</div>
