<!-- Basic information -->
<div class="tab-pane active" id="basic">
  <div class="row">
    <div id="basic_col1" class="span2">
      {% include "modules/built_ins.html" %}
      {% include "modules/restricted_classes.html" %}
      {% include "modules/variability.html" %}
      {% include "modules/statements.html" %}
    </div>
    <div id="basic_col2" class="span7">
      {% include "modules/syntax_guide.html" %}
    </div>
    <div id="basic_col3" class="span3">
      {% include "modules/con_quals.html" %}
      {% include "modules/operators.html" %}
      {% include "modules/std_enums.html" %}
      {% include "modules/lexical.html" %}
      {% include "modules/comp_expr.html" %}
    </div>
  </div>
</div>
