{% from "macros.html" import tab %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} - v{{ version }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Philosopher:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet"> 
    <link href="css/cheatsheet.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <!-- Header block -->
    <div class="container">
      <div id="header" class="row">
	<div class="span2">
	  <a href="http://www.xogeny.com"><img src="img/Xogeny.png"></a>
	</div>
	<div class="span8">
	  <h4 class="heading centered">{{ title }} - v{{ version }}</h4>
	</div>
	<div class="span2 rightjust">
	  <a href="http://www.cydesign.com"><img src="img/CyDesign.png"></a>
	</div>
      </div>

      <div class="row">
	<div id="basic_col1" class="span2">
	  {% include "modules/lexical.html" %}
	  {% include "modules/builtin_types.html" %}
	  {% include "modules/variability.html" %}
	  {% include "modules/restricted_classes.html" %}
	  {% include "modules/statements.html" %}
	</div>
	<div id="basic_col2" class="span3">
	  {% include "modules/std_enums.html" %}
	  {% include "modules/comp_expr.html" %}
	  {% include "modules/operators.html" %}
	  {% include "modules/event_ops.html" %}
	</div>
	<div id="basic_col3" class="span4">
	  {% include "modules/exprs.html" %}
	  {% include "modules/annotations.html" %}
	</div>
	<div id="basic_col4" class="span3">
	  {% include "modules/class_definitions.html" %}
	  {% include "modules/special_ops.html" %}
	  {% include "modules/con_quals.html" %}
	</div>
      </div>

      <div id="legend" class="row">
	<div class="span12">
	  <ul class="hlist">
	    <li>{{ comment }}: Read more</li>
	    <li>{{ warning }}: Note of caution</li>
	    <li>{{ example }}: Sample code</li>
	    <li class="pull-right">
	      &copy;<small>2013</small> <a href="http://www.xogeny.com/">
		<span class="xogeny">Xogeny</span>
	      </a>
	      &nbsp; &nbsp;
	      <a href="#acks" role="button" data-toggle="modal">
		<i class="icon-bullhorn"></i>
	      </a>
	    </li>
	  </ul>
	</div>
      </div>
    </div>
    
    <div id="acks" class="modal hide fade">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>Acknowledgments</h3>
      </div>
      <div class="modal-body">
	<p>
	  The inspiration for this quick reference card came from
	  Derek Cheng at <a href="www.cydesign.com">CyDesign</a>.
	<p>
	<p>
	  Although a separate effort, this reference card benefited
	  from ideas and content in the <tt>ModelicaReference</tt>
	  package.  We gratefully acknowledge the efforts of its
	  authors: Modelica Association, DLR, Telemark University
	  College and Maplesoft.
	</p>
	<p>
	  Both the style and functionality of this quick reference
	  page is enabled
	  by <a href="http://twitter.github.com/bootstrap">Bootstrap</a>
	  and <a href="http://glyphicons.com/">Glyphicons</a>.
	</p>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/tooltips.js"></script>
    <script src="js/popovers.js"></script>
  </body>
</html>
