{% from "macros.html" import license, glike, flike %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} - v{{ version }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="A web-based reference for the Modelica modeling language"/>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Philosopher:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="css/cheatsheet.css" rel="stylesheet" media="screen">
    <link rel="icon" 
	  type="image/png" 
	  href="http://www.xogeny.com/favicon.ico">
  </head>
  <body>
    <!-- Header block -->
    <div class="container">
      <div id="header" class="row">
	<div class="span1">
	  <a href="http://www.xogeny.com"><img src="img/Xogeny.png"></a>
	</div>
	<div class="span1">
	</div>
	<div class="span8 centered">
	  <span>
	    <span class="heading">
	    {{ title }} - v{{ version }}
	    </span>
	    <span>
	      <span class="heading">{{comment}}</span>
	      <div class="popover" data-placement="bottom"
		   title="Caveats and Limitations">
		<p>
		  <strong>Note</strong>: This reference material covers
		  Modelica version <strong>3.3</strong><br>(with the
		  notable exception of newly introduced synchronous
		  features).
		</p>
		<br>
		<p class="seminarrow">
		  <strong>Note</strong>: To properly view the material
		  on this page, browser window needs to be at least 940
		  pixels wide and ideally 915 pixels or greater high.
		</p>
	      </div>
	    </span>
	  </span>
	</div>
	<div class="span1 rightjust">
	</div>
	<div class="span1 rightjust rightlogo">
	  <a href="http://www.cydesign.com"><img src="img/CyDesign.png"></a>
	</div>
      </div>

      <div class="row">
	<div class="span12">
	  <table class="root">
	    <tr>
	      <td class="column col1">
		{% include "modules/lexical.html" %}
		{% include "modules/restricted_classes.html" %}
		{% include "modules/class_definitions.html" %}
		{% include "modules/con_quals.html" %}
		{% include "modules/variability.html" %}
	      </td>
	      <td class="column col2">
		{% include "modules/builtin_types.html" %}
		{% include "modules/std_enums.html" %}
		{% include "modules/exprs.html" %}
	      </td>
	      <td class="column col3">
		{% include "modules/special_ops.html" %}
		{% include "modules/reduction_ops.html" %}
		{% include "modules/event_ops.html" %}
	      </td>
	      <td class="column col4">
		{% include "modules/statements.html" %}
		{% include "modules/comp_expr.html" %}
		{% include "modules/operators.html" %}
		{% include "modules/annotations.html" %}
	      </td>
	    </tr>
	  </table>
	</div>
      </div>

      <div class="row">
	<div id="basic_col1" class="span2">
	</div>
	<div id="basic_col2" class="span3">
	</div>
	<div id="basic_col3" class="span4">
	</div>
	<div id="basic_col4" class="span3">
	</div>
      </div>

      <div class="row">
	<div class="span12">
	  <table id="foottab">
	    <tr>
	      <td>
		<div id="legend">
		  <p><b>Legend</b></p>
		  <ul class="nobullets hlist">
		    <li>{{ comment }}: Read more</li>
		    <li>{{ warning }}: Note of caution</li>
		    <li>{{ example }}: Sample code</li>
		  </ul>
		  (You can hit the <code>Escape</code> key to
		  close all popups)
		</div>
	      </td>
	      <td class="centered">
		<span id="copyright">
		  &copy;&nbsp;2013
		  <a href="http://www.xogeny.com/">
		    <span class="xogeny">Xogeny</span>
		  </a>
		</span>
	      </td>
	      <td>
		<ul class="pull-right hlist">
		  <li>{{ glike() }}</li>
		  <li>{{ flike() }}</li>
		</ul>
		<br><br>
		<ul class="pull-right hlist">
		  {#
		  <!-- I couldn't get this to work -->
		  <li><a class="close" href="javascript:$('.popover').popover('hide')">&times;</a></li>
		  #}
		  <li>
		    <i class="icon-edit"></i>&nbsp;License
		    <div class="popover" data-placement="top"
			 title="License">
		      {{ license() }}
		    </div>
		  </li>
		  <li>
		    <i class="icon-bell"></i>&nbsp;Feedback
		    <div class="popover" data-placement="top"
			 title="Reporting Bugs">
		      <a href="{{repo}}">
			<img class="pull-right" src="img/github.png">
		      </a>
		      <p class="seminarrow">
			If you find any error in this reference sheet or
			have any enhancement requests, please report them in
			the <a href="{{repo}}/issues">GitHub
			  Issue Tracker</a>.
		      </p>
		      <p>
			Even better, fork the repository and submit a pull
			request with your suggested changed.
		      </p>
		      <p>We appreciate any and all feedback.</p>
		    </div>
		  </li>
		  <li>
		    <a id="ackbutton" href="#acks" role="button" data-toggle="modal">
		      <i class="icon-bullhorn"></i>&nbsp;Acknowledgments
		    </a>
		  </li>
		</ul>
	      </td>
	    </tr>
	  </table>
	</div>
      </div>
    </div>

    {% include "ack.html" %}

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popovers.js"></script>

    <script type="text/javascript">
      (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33034217-3']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
